{% if security.registerable or security.recoverable or security.confirmable %}
<p class="pt-4">
    <a
        href="{{ url_for_security('login') }}{% if 'next' in request.args %}?next={{ request.args.next|urlencode }}{% endif %}">Log
        in</a><br />
    {% if security.registerable %}
    <a
        href="{{ url_for_security('register') }}{% if 'next' in request.args %}?next={{ request.args.next|urlencode }}{% endif %}">Sign
        up</a><br />
    {% endif %}
    {% if security.recoverable %}
    <a href="{{ url_for_security('forgot_password') }}">{{ _fsdomain('Forgot password') }}</a><br />
    {% endif %}
    {% if security.confirmable %}
    <a href="{{ url_for_security('send_confirmation') }}">{{ _fsdomain('Confirm account') }}</a>
    {% endif %}
</p>
<hr />
{% endif %}