{% extends "security/layout.html" %}

{% block content %}
<form action="{{ url_for_security('forgot_password') }}" class="form-forgot-password" method="POST"
    name="forgot_password_form">
    {{ forgot_password_form.hidden_tag() }}
    <input name="_csrf_token" type="hidden" value="{{ csrf_token() }}">

    <h1 class="h3 mb-3 fw-normal">Forgot password</h1>
    <div class="form-floating">
        <input type="email" class="form-control" id="email" name="email" placeholder="name@example.com">
        <label for="email">Email address</label>
    </div>
    <button class="btn btn-primary w-100 py-2" id="submit" name="submit" type="submit">Recover password</button>
    {% include "security/_menu.html" %}
    <p class="mt-3 mb-3 text-body-secondary"><a href="/">Contextualise</a> &mdash; Copyright &copy; 2019-2025 by Brett
        Kromkamp
    </p>
</form>
{% endblock %}