{% extends "layout_1_column.html" %}

{% block title %}
<title>{{ topic.identifier|topic_name(topic_map.identifier) }} | {{ topic_map.name }}</title>
{% endblock %}

{% block javascript %}
{% if error %}
<script>
    $('#advancedOptions').collapse('show');
</script>
{% endif %}
{% endblock %}

{% block content %}
<h1>
    {{ topic.first_base_name.name }}
    <small class="text-muted">Add attribute</small>
</h1>
<hr />
{% if entity_type == 'topic' %}
<form action="{{ url_for(post_url, map_identifier=topic_map.identifier, topic_identifier=topic.identifier) }}"
    autocomplete="off" method="post" role="form">
    {% else %}
    <form
        action="{{ url_for(post_url, map_identifier=topic_map.identifier, topic_identifier=topic.identifier, entity_identifier=entity.identifier, entity_type=entity_type) }}"
        autocomplete="off" method="post" role="form">
        {% endif %}
        <input name="_csrf_token" type="hidden" value="{{ csrf_token() }}">
        <div class="form-group">
            <label for="attribute-name"><strong>Name</strong></label>
            <input class="form-control" id="attribute-name" name="attribute-name" placeholder="Enter name" required
                autofocus type="text" value="{{ attribute_name or '' }}">
            {% if error|bitwise_and(8) == 8 %}
            <small class="text-danger">
                An attribute with this name already exists for this topic, occurrence or association. Please provide a
                different name.
            </small>
            {% endif %}
        </div>
        <div class="form-group">
            <label for="attribute-value"><strong>Value</strong></label>
            <input class="form-control" id="attribute-value" name="attribute-value" placeholder="Enter value" required
                type="text" value="{{ attribute_value or '' }}">
        </div>
        <div class="form-group">
            <label for="attribute-type">Type</label>
            <select class="form-control" id="attribute-type" name="attribute-type">
                <option value="STRING">String</option>
                <option value="NUMBER">Number</option>
                <option value="TIMESTAMP">Timestamp</option>
                <option value="BOOLEAN">Boolean</option>
            </select>
        </div>
        <p><i class="fas fa-info-circle"></i> <a aria-controls="advancedOptions" aria-expanded="false"
                data-toggle="collapse" href="#advancedOptions"> Advanced options</a>
        </p>
        <div class="collapse" id="advancedOptions">
            <div class="card">
                <div class="card-header">
                    Advanced options
                </div>
                <div class="card-body">
                    <div class="card-text">
                        <div class="form-group">
                            <label for="attribute-scope"><strong>Scope</strong>
                                <small class="text-info">&mdash; If no value is provided the default will be
                                    "<strong>{{ session["current_scope"] }}</strong>" (that is,
                                    the current scope)
                                </small>
                            </label>
                            <input class="form-control typeahead" id="attribute-scope" name="attribute-scope"
                                placeholder="Enter scope identifier" type="text" value="{{ attribute_scope or '' }}">
                            {% if error|bitwise_and(4) == 4 %}
                            <small class="text-danger">
                                A scope with this identifier doesn't exist. Please provide an identifier for an
                                existing scope.
                            </small>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            <br />
        </div>
        {% if entity_type == 'topic' %}
        <a class="btn btn-secondary"
            href="{{ url_for(cancel_url, map_identifier=topic_map.identifier, topic_identifier=topic.identifier) }}"
            role="button">Cancel</a>
        {% else %}
        <a class="btn btn-secondary"
            href="{{ url_for(cancel_url, map_identifier=topic_map.identifier, topic_identifier=topic.identifier, entity_identifier=entity.identifier, entity_type=entity_type) }}"
            role="button">Cancel</a>
        {% endif %}
        <button class="btn btn-success" type="submit">Add attribute</button>
    </form>
    <br />
    {% endblock %}