{% extends "layout-2-columns.html" %}

{% block title %}
<title>{{ topic.first_base_name.name }} | {{ topic_map.name }}</title>
{% endblock %}

{% block javascript %}
<link href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css" rel="stylesheet"/>
<script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/vis/4.21.0/vis.min.js" type="text/javascript"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/vis/4.21.0/vis.min.css" rel="stylesheet" type="text/css"/>

<script>
function searchArray(value, prop, arr) {
    for (var i = 0; i < arr.length; i++) {
        if (arr[i][prop] === value) {
            return arr[i];
        }
    }
}

var nodes = null;
var edges = null;

var urlParts = window.location.pathname.split('/');
var mapIdentifier = urlParts[2];
var topicIdentifier = urlParts[4];

$('#modalNetworkGraph').on('show.bs.modal', function (event) {
    if (topicIdentifier !== "") {
        var getNetworkApiUrl = '/api/' + mapIdentifier +'/get-network/' + topicIdentifier;
        axios.get(getNetworkApiUrl)
            .then(function (response) {
                // Handle success
                nodes = response.data[0];
          edges = response.data[1];

          nodes.forEach(function(node) {
            node.font = {size: 20, color: '#666', face: 'nunito', strokeWidth: 6, strokeColor: '#fff'};
          });

          // Instantiate network object
          var container = document.getElementById('network-graph');
          var data = {
            nodes: nodes,
            edges: edges
          };

          var options = {
            autoResize: true,
            height: '100%',
            width: '100%',
            layout: { randomSeed: 2 },
            interaction: { hover: true },
            nodes: {
                shape: 'dot'
            },
            edges: {
              smooth: {
                forceDirection: "none",
                roundness: 0.7
              }
            },
            physics: {
              repulsion: {
                springLength: 205
              },
              minVelocity: 0.75,
              solver: "repulsion"
            },
            groups: {
              active: {
                color: {background: '#f5b7b1', border: '#78281f'}
              },
              topic: {
                color: {background: '#a9dfbf', border: '#145a32'}
              }
            }
          };

          var network = new vis.Network(container, data, options);
          network.on("click", function(params) {
            if (params.nodes[0] !== undefined) {
                  var selectedNode = searchArray(params.nodes[0], 'id', nodes);
                  if (selectedNode.id !== topicIdentifier) {
                            var networkGotoUrl = '/topics/' + mapIdentifier + '/view/' + selectedNode.id;
                            if (networkGotoUrl) {
                                window.location.href = networkGotoUrl;
                            }
                }
            }
          });
          network.on("resize", function(params) {
            network.fit();
          });
        })
        .catch(function (error) {
            // Handle error
            console.log(error);
        })
        .then(function () {
            // Always executed
        });
    }
});

$("#view-graph-link").click(function(e) {
    e.preventDefault();

    $('#modalNetworkGraph').modal();
});


</script>
{% endblock %}

{% block content %}
<div aria-hidden="true" aria-labelledby="modalTitle" class="modal fade" id="modalNetworkGraph"
     role="dialog"
     tabindex="-1">
    <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalCenterTitle">Network graph</h5>
                <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="border rounded" id="network-graph"></div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" data-dismiss="modal" type="button">Close</button>
            </div>
        </div>
    </div>
</div>

<h1>{{ topic.first_base_name.name }}</h1>
<p><em>{{ creation_date }}</em>&nbsp;&nbsp;&nbsp;<i
        class="fas fa-info-circle"></i> <a aria-controls="advancedProperties" aria-expanded="false"
                                           data-toggle="collapse" href="#advancedProperties"> Properties</a></p>
<div class="collapse" id="advancedProperties">
    <div class="card">
        <div class="card-header">
            Properties
        </div>
        <div class="card-body">
            <div class="card-text">
                <table class="table table-bordered table-sm">
                    <thead class="thead-light">
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Value</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th scope="row">Topic identifier</th>
                        <td>
                            {{ topic.identifier }}
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">First name</th>
                        <td>
                            {{ topic.first_base_name.name}}
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">Instance of</th>
                        <td>
                            {% if session['current_scope'] == '*' %}
                            <a
                                    href="{{ url_for('topic.view', map_identifier=topic_map.identifier, topic_identifier=topic.instance_of) }}">{{
                                topic.instance_of|topic_name(topic_map.identifier) }}</a>
                            {% else %}
                            <a
                                    href="{{ url_for('topic.view', map_identifier=topic_map.identifier, topic_identifier=topic.instance_of, context=session['current_scope']) }}">{{
                                topic.instance_of|topic_name(topic_map.identifier) }}</a>
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">Creation timestamp</th>
                        <td>{{ creation_date }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Modification timestamp</th>
                        <td>{{ modification_date }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <br/>
</div>
{% if current_user.id == topic_map.user_identifier %}
<ul class="nav nav-tabs">
    <li class="nav-item dropdown">
        <a aria-expanded="false" aria-haspopup="true" class="nav-link dropdown-toggle active" data-toggle="dropdown"
           href="#"
           role="button">Topic</a>
        <div class="dropdown-menu">
            <a aria-disabled="true" class="dropdown-item disabled" href="#" tabindex="-1">View</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item"
               href="{{ url_for('topic.create', map_identifier=topic_map.identifier, topic_identifier=topic.identifier) }}">Create
                topic</a>
            <a class="dropdown-item"
               href="{{ url_for('topic.edit', map_identifier=topic_map.identifier, topic_identifier=topic.identifier) }}">Edit
                topic</a>
            <a class="dropdown-item"
               href="#">Delete topic</a>
            {% if 'admin' in current_user.roles %}
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">View names</a>
            {% endif %}
            <div class="dropdown-divider"></div>
            <a class="dropdown-item"
               href="{{ url_for('topic.add_note', map_identifier=topic_map.identifier, topic_identifier=topic.identifier) }}">Add
                note</a>
            <a class="dropdown-item" href="#">Add tag</a>
            {% if 'admin' in current_user.roles %}
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">View attributes</a>
            {% endif %}
        </div>
    </li>
    <li class="nav-item dropdown">
        <a aria-expanded="false" aria-haspopup="true" class="nav-link dropdown-toggle" data-toggle="dropdown" href="#"
           role="button">Images</a>
        <div class="dropdown-menu">
            <a class="dropdown-item"
               href="{{ url_for('image.index', map_identifier=topic_map.identifier, topic_identifier=topic.identifier) }}">View</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item"
               href="{{ url_for('image.upload', map_identifier=topic_map.identifier, topic_identifier=topic.identifier) }}">Upload
                image</a>
        </div>
    </li>
    <li class="nav-item dropdown">
        <a aria-expanded="false" aria-haspopup="true" class="nav-link dropdown-toggle" data-toggle="dropdown" href="#"
           role="button">Files</a>
        <div class="dropdown-menu">
            <a class="dropdown-item"
               href="{{ url_for('file.index', map_identifier=topic_map.identifier, topic_identifier=topic.identifier) }}">View</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item"
               href="{{ url_for('file.upload', map_identifier=topic_map.identifier, topic_identifier=topic.identifier) }}">Upload
                file</a>
        </div>
    </li>
    <li class="nav-item dropdown">
        <a aria-expanded="false" aria-haspopup="true" class="nav-link dropdown-toggle" data-toggle="dropdown" href="#"
           role="button">Links</a>
        <div class="dropdown-menu">
            <a class="dropdown-item"
               href="{{ url_for('link.index', map_identifier=topic_map.identifier, topic_identifier=topic.identifier) }}">View</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item"
               href="{{ url_for('link.add', map_identifier=topic_map.identifier, topic_identifier=topic.identifier) }}">Add
                link</a>
        </div>
    </li>
    <li class="nav-item dropdown">
        <a aria-expanded="false" aria-haspopup="true" class="nav-link dropdown-toggle" data-toggle="dropdown" href="#"
           role="button">Videos</a>
        <div class="dropdown-menu">
            <a class="dropdown-item"
               href="{{ url_for('video.index', map_identifier=topic_map.identifier, topic_identifier=topic.identifier) }}">View</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item"
               href="{{ url_for('video.add', map_identifier=topic_map.identifier, topic_identifier=topic.identifier) }}">Add
                video</a>
        </div>
    </li>
    <li class="nav-item dropdown">
        <a aria-expanded="false" aria-haspopup="true" class="nav-link dropdown-toggle" data-toggle="dropdown" href="#"
           role="button">Associations</a>
        <div class="dropdown-menu">
            <a class="dropdown-item"
               href="{{ url_for('association.index', map_identifier=topic_map.identifier, topic_identifier=topic.identifier) }}">View</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item"
               href="{{ url_for('association.create', map_identifier=topic_map.identifier, topic_identifier=topic.identifier) }}">Create
                association</a>
        </div>
    </li>
</ul>
{% endif %}
{% if occurrences['text'] %}
{{ occurrences['text']|safe }}
<p><i class="fas fa-arrow-circle-up"></i>&nbsp;<a href="#page-top">Back to top</a></p>
{% else %}
{% if current_user.id == topic_map.user_identifier %}
<p>This topic has no text. Click on the "Edit topic" button below to add text to this topic.</p>
<a class="btn btn-primary"
   href="{{ url_for('topic.edit', map_identifier=topic_map.identifier, topic_identifier=topic.identifier) }}">Edit
    topic</a>
<br/>
<br/>
{% endif %}
{% endif %}
{% if occurrences['notes'] %}
<hr/>
<h5>Notes</h5>
{% for note in occurrences['notes'] %}
<a name="note-{{note.identifier}}"></a>
<div class="card border-warning">
    <div class="card-body text-secondary">
        <h5 class="card-title">{{ note.title }} &mdash;
            <small class="text-muted">{{ note.timestamp }}</small>
        </h5>
        <p class="card-text">{{ note.text|safe }}</p>
        {% if current_user.id == topic_map.user_identifier %}
        <a class="card-link"
           href="{{ url_for('topic.edit_note', map_identifier=topic_map.identifier, topic_identifier=topic.identifier, note_identifier=note.identifier) }}">Edit</a>
        <a class="card-link"
           href="{{ url_for('topic.delete_note', map_identifier=topic_map.identifier, topic_identifier=topic.identifier, note_identifier=note.identifier) }}">Delete</a>
        {% endif %}
    </div>
</div>
<br/>
{% endfor %}
<p><i class="fas fa-arrow-circle-up"></i>&nbsp;<a href="#page-top">Back to top</a></p>
{% endif %}
{% endblock %}