{% extends "layout_2_columns.html" %}

{% block title %}
<title>{{ topic.first_base_name.name }} | {{ topic_map.name }}</title>
{% endblock %}

{% block javascript %}
<link href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css" rel="stylesheet"/>
<script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>
{% endblock %}

{% block menu %}
{% if not current_user.is_authenticated or not collaboration_mode or collaboration_mode.name == "VIEW" %}
<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link active" href="#">Topic</a>
    </li>
    <li class="nav-item dropdown">
        <a aria-expanded="false" aria-haspopup="true" class="nav-link dropdown-toggle" data-toggle="dropdown" href="#"
           role="button">Visualisations</a>
        <div class="dropdown-menu">
            <a class="dropdown-item"
               href="{{ url_for('visualisation.network', map_identifier=topic_map.identifier, topic_identifier=topic.identifier) }}">View
                network</a>
            <a class="dropdown-item" href="#">View timeline</a>
            <a class="dropdown-item" href="#">View geographic map</a>
        </div>
    </li>
</ul>
{% endif %}
{% if current_user.is_authenticated and collaboration_mode.name == "COMMENT" %}
<ul class="nav nav-tabs">
    <li class="nav-item dropdown">
        <a aria-expanded="false" aria-haspopup="true" class="nav-link dropdown-toggle active" data-toggle="dropdown"
           href="#"
           role="button">Topic</a>
        <div class="dropdown-menu">
            <a aria-disabled="true" class="dropdown-item disabled" href="#" tabindex="-1">View</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item"
               href="{{ url_for('topic.add_note', map_identifier=topic_map.identifier, topic_identifier=topic.identifier) }}">Add
                note</a>
        </div>
    </li>
    <li class="nav-item dropdown">
        <a aria-expanded="false" aria-haspopup="true" class="nav-link dropdown-toggle" data-toggle="dropdown" href="#"
           role="button">Visualisations</a>
        <div class="dropdown-menu">
            <a class="dropdown-item"
               href="{{ url_for('visualisation.network', map_identifier=topic_map.identifier, topic_identifier=topic.identifier) }}">View
                network</a>
            <a class="dropdown-item" href="#">View timeline</a>
            <a class="dropdown-item" href="#">View geographic map</a>
        </div>
    </li>
</ul>
{% endif %}
{% if current_user.is_authenticated and collaboration_mode.name == "EDIT" %}
<ul class="nav nav-tabs">
    <li class="nav-item dropdown">
        <a aria-expanded="false" aria-haspopup="true" class="nav-link dropdown-toggle active" data-toggle="dropdown"
           href="#"
           role="button">Topic</a>
        <div class="dropdown-menu">
            <a aria-disabled="true" class="dropdown-item disabled" href="#" tabindex="-1">View</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item"
               href="{{ url_for('topic.create', map_identifier=topic_map.identifier, topic_identifier=topic.identifier) }}">Create
                topic</a>
            <a class="dropdown-item"
               href="{{ url_for('topic.edit', map_identifier=topic_map.identifier, topic_identifier=topic.identifier) }}">Edit
                topic</a>
            <a class="dropdown-item"
               href="{{ url_for('topic.delete', map_identifier=topic_map.identifier, topic_identifier=topic.identifier) }}">Delete
                topic</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item"
               href="{{ url_for('topic.view_names', map_identifier=topic_map.identifier, topic_identifier=topic.identifier) }}">View
                names</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item"
               href="{{ url_for('topic.add_note', map_identifier=topic_map.identifier, topic_identifier=topic.identifier) }}">Add
                note</a>
            <a class="dropdown-item" href="#">Add tag</a>
            {% if 'admin' in current_user.roles %}
            <div class="dropdown-divider"></div>
            <a class="dropdown-item"
               href="{{ url_for('attribute.index', map_identifier=topic_map.identifier, topic_identifier=topic.identifier) }}">View
                attributes</a>
            {% endif %}
        </div>
    </li>
    <li class="nav-item dropdown">
        <a aria-expanded="false" aria-haspopup="true" class="nav-link dropdown-toggle" data-toggle="dropdown" href="#"
           role="button">Images</a>
        <div class="dropdown-menu">
            <a class="dropdown-item"
               href="{{ url_for('image.index', map_identifier=topic_map.identifier, topic_identifier=topic.identifier) }}">View</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item"
               href="{{ url_for('image.upload', map_identifier=topic_map.identifier, topic_identifier=topic.identifier) }}">Upload
                image</a>
        </div>
    </li>
    <li class="nav-item dropdown">
        <a aria-expanded="false" aria-haspopup="true" class="nav-link dropdown-toggle" data-toggle="dropdown" href="#"
           role="button">3D</a>
        <div class="dropdown-menu">
            <a class="dropdown-item"
               href="{{ url_for('three_d.index', map_identifier=topic_map.identifier, topic_identifier=topic.identifier) }}">View</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item"
               href="{{ url_for('three_d.upload', map_identifier=topic_map.identifier, topic_identifier=topic.identifier) }}">Upload
                3D content</a>
        </div>
    </li>
    <li class="nav-item dropdown">
        <a aria-expanded="false" aria-haspopup="true" class="nav-link dropdown-toggle" data-toggle="dropdown" href="#"
           role="button">Files</a>
        <div class="dropdown-menu">
            <a class="dropdown-item"
               href="{{ url_for('file.index', map_identifier=topic_map.identifier, topic_identifier=topic.identifier) }}">View</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item"
               href="{{ url_for('file.upload', map_identifier=topic_map.identifier, topic_identifier=topic.identifier) }}">Upload
                file</a>
        </div>
    </li>
    <li class="nav-item dropdown">
        <a aria-expanded="false" aria-haspopup="true" class="nav-link dropdown-toggle" data-toggle="dropdown" href="#"
           role="button">Links</a>
        <div class="dropdown-menu">
            <a class="dropdown-item"
               href="{{ url_for('link.index', map_identifier=topic_map.identifier, topic_identifier=topic.identifier) }}">View</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item"
               href="{{ url_for('link.add', map_identifier=topic_map.identifier, topic_identifier=topic.identifier) }}">Add
                link</a>
        </div>
    </li>
    <li class="nav-item dropdown">
        <a aria-expanded="false" aria-haspopup="true" class="nav-link dropdown-toggle" data-toggle="dropdown" href="#"
           role="button">Videos</a>
        <div class="dropdown-menu">
            <a class="dropdown-item"
               href="{{ url_for('video.index', map_identifier=topic_map.identifier, topic_identifier=topic.identifier) }}">View</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item"
               href="{{ url_for('video.add', map_identifier=topic_map.identifier, topic_identifier=topic.identifier) }}">Add
                video</a>
        </div>
    </li>
    <li class="nav-item dropdown">
        <a aria-expanded="false" aria-haspopup="true" class="nav-link dropdown-toggle" data-toggle="dropdown" href="#"
           role="button">Associations</a>
        <div class="dropdown-menu">
            <a class="dropdown-item"
               href="{{ url_for('association.index', map_identifier=topic_map.identifier, topic_identifier=topic.identifier) }}">View</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item"
               href="{{ url_for('association.create', map_identifier=topic_map.identifier, topic_identifier=topic.identifier) }}">Create
                association</a>
        </div>
    </li>
    <li class="nav-item dropdown">
        <a aria-expanded="false" aria-haspopup="true" class="nav-link dropdown-toggle" data-toggle="dropdown" href="#"
           role="button">Visualisations</a>
        <div class="dropdown-menu">
            <a class="dropdown-item"
               href="{{ url_for('visualisation.network', map_identifier=topic_map.identifier, topic_identifier=topic.identifier) }}">View
                network</a>
            <a class="dropdown-item" href="#">View timeline</a>
            <a class="dropdown-item" href="#">View geographic map</a>
        </div>
    </li>
</ul>
{% endif %}
{% endblock %}

{% block content %}
<h1>{{ topic.first_base_name.name }}</h1>
<p><em>{{ creation_date }}</em>&nbsp;&nbsp;&nbsp;<small><i
        class="fas fa-info-circle"></i> <a aria-controls="advancedProperties" aria-expanded="false"
                                           data-toggle="collapse" href="#advancedProperties"> Properties</a></small>
</p>
<div class="collapse" id="advancedProperties">
    <div class="card">
        <div class="card-header">
            Properties
        </div>
        <div class="card-body">
            <div class="card-text">
                <table class="table table-bordered table-sm">
                    <thead class="thead-light">
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Value</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th scope="row">Identifier</th>
                        <td>
                            {{ topic.identifier }}
                        </td>
                    </tr>
                    <tr>
                        {% if topic.base_names|length > 1 %}
                        <th scope="row">Names</th>
                        <td>
                            {% for base_name in topic.base_names %}
                            {{ base_name.name }}{% if loop.index < topic.base_names|length %}&nbsp;&nbsp;&middot;&nbsp;{%
                            endif %}
                            {% endfor %}
                        </td>
                        {% else %}
                        <th scope="row">Name</th>
                        <td>
                            {{ topic.first_base_name.name}}
                        </td>
                        {% endif %}
                    </tr>
                    <tr>
                        <th scope="row">Type</th>
                        <td>
                            {% if session['current_scope'] == '*' %}
                            <a href="{{ url_for('topic.view', map_identifier=topic_map.identifier, topic_identifier=topic.instance_of) }}">{{
                                topic.instance_of|topic_name(topic_map.identifier) }}</a>
                            {% else %}
                            <a href="{{ url_for('topic.view', map_identifier=topic_map.identifier, topic_identifier=topic.instance_of, context=session['current_scope']) }}">{{
                                topic.instance_of|topic_name(topic_map.identifier) }}</a>
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">Creation timestamp</th>
                        <td>{{ creation_date }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Modification timestamp</th>
                        <td>{{ modification_date }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<hr/>
{% if occurrences['text'] %}
{{ occurrences['text']|safe }}
<p><small><i class="fas fa-arrow-circle-up"></i>&nbsp;<a href="#page-top">Back to top</a></small></p>
{% else %}
{% if current_user.id == topic_map.user_identifier %}
<p>This topic has no text. Click on the "Edit topic" button below to add text to this topic.</p>
<a class="btn btn-primary"
   href="{{ url_for('topic.edit', map_identifier=topic_map.identifier, topic_identifier=topic.identifier) }}">Edit
    topic</a>
<br/>
<br/>
{% endif %}
{% endif %}
{% if occurrences['notes'] %}
<hr/>
<h5>Notes</h5>
{% for note in occurrences['notes'] %}
<a name="note-{{note.identifier}}"></a>
<div class="card border-warning">
    <div class="card-body text-secondary">
        <h5 class="card-title">{{ note.title }} &mdash;
            <small class="text-muted">{{ note.timestamp }}</small>
        </h5>
        <p class="card-text">{{ note.text|safe }}</p>
        {% if current_user.is_authenticated and (collaboration_mode.name == "EDIT" or collaboration_mode.name == "COMMENT") %}
        <a class="card-link"
           href="{{ url_for('topic.edit_note', map_identifier=topic_map.identifier, topic_identifier=topic.identifier, note_identifier=note.identifier) }}">Edit</a>
        <a class="card-link"
           href="{{ url_for('topic.delete_note', map_identifier=topic_map.identifier, topic_identifier=topic.identifier, note_identifier=note.identifier) }}">Delete</a>
        {% endif %}
    </div>
</div>
<br/>
{% endfor %}
<p><small><i class="fas fa-arrow-circle-up"></i>&nbsp;<a href="#page-top">Back to top</a></small></p>
{% endif %}
{% endblock %}