{% extends "layout.html" %}

{% block title %}
<title>{{ topic.first_base_name.name }} | {{ topic_map.name }}</title>
{% endblock %}

{% block header_menu %}
{% include "_header_menu.html" %}
{% endblock %}

{% block javascript %}{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <h1>
            {{ topic.identifier|topic_name(topic_map.identifier) }}&nbsp;&middot;&nbsp;<small class="text-muted">Delete
                link</small>
        </h1>
        <hr />
        <form
            action="{{ url_for('link.delete', map_identifier=topic_map.identifier, topic_identifier=topic.identifier, link_identifier=link_identifier) }}"
            method="post" role="form">
            <input name="_csrf_token" type="hidden" value="{{ csrf_token() }}">
            <div class="mb-3">
                <label for="link-title" class="form-label">Title</label>
                <input aria-readonly="true" disabled class="form-control" id="link-title" name="link-title" readonly
                    type="text" value="{{ link_title }}">
            </div>
            <div class="mb-3">
                <label for="link-url" class="form-label">URL</label>
                <input aria-readonly="true" disabled class="form-control" id="link-url" name="link-url" readonly
                    type="text" value="{{ link_url }}">
            </div>
            <p><i class="bi bi-info-circle"></i> <a data-bs-toggle="collapse" href="#advancedOptions" role="button"
                    aria-expanded="false" aria-controls="collapseExample">
                    Advanced options</a>
            </p>
            <div class="collapse" id="advancedOptions">
                <div class="card">
                    <div class="card-header">
                        Advanced options
                    </div>
                    <div class="card-body">
                        <div class="card-text">
                            <div class="mb-3">
                                <label for="link-scope" class="form-label">Scope</label>
                                <input aria-readonly="true" disabled class="form-control" id="link-scope"
                                    name="link-scope" readonly type="text" value="{{ link_scope }}">
                            </div>
                        </div>
                    </div>
                </div>
                <br />
            </div>
            <a class="btn btn-secondary"
                href="{{ url_for('link.index', map_identifier=topic_map.identifier, topic_identifier=topic.identifier) }}"
                role="button">Cancel</a>
            <button class="btn btn-danger" type="submit">Delete link</button>
        </form>
        <br />
    </div>
</div>
{% endblock %}