topic-db>=1.0.0
SQLAlchemy>=1.3.16
Flask>=1.1.2
Flask-SQLAlchemy>=2.4.1
Flask-Security-Too>=3.4.2
flask-seasurf>=0.2.2
bcrypt>=3.1.7
Werkzeug>=1.0.1
maya>=0.6.1
mistune>=0.8.4
python-slugify>=4.0.0
gunicorn>=20.0.4