argon2_cffi==23.1.0
bcrypt==4.2.0
flask-mail==0.10.0
flask-security-too==5.5.2
flask-sqlalchemy==3.1.1
flask-wtf==1.2.1
flask==3.0.3
gunicorn==23.0.0
maya==0.6.1
mistune==3.0.2
pygments==2.18.0
python-slugify==8.0.4
setuptools==75.2.0
sqlalchemy==2.0.34
git+https://github.com/brettkromkamp/topic-db.git@develop#egg=topic_db
werkzeug==3.0.4
wheel==0.44.0