{% extends "layout_1_column.html" %}

{% block title %}
<title>Edit note | {{ topic_map.name }}</title>
{% endblock %}

{% block javascript %}
<link href="https://cdn.jsdelivr.net/npm/easymde/dist/easymde.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/easymde/dist/easymde.min.js"></script>

<script>
    var editor = new EasyMDE({ element: document.getElementById('note-text') });
</script>

{% if error %}
<script>
    $('#advancedOptions').collapse('show');
</script>
{% endif %}
{% endblock %}

{% block content %}
<h1>
    {{ topic_map.name }}
    <small class="text-muted">Edit note</small>
</h1>
<hr />
<form
    action="{{ url_for('note.edit', map_identifier=topic_map.identifier, topic_identifier=topic.identifier, note_identifier=note_identifier) }}"
    autocomplete="off" method="post" role="form">
    <input name="_csrf_token" type="hidden" value="{{ csrf_token() }}">
    <div class="form-group">
        <label for="note-title">Title</label>
        <input class="form-control" id="note-title" name="note-title" placeholder="Enter title" required autofocus
            type="text" value="{{ note_title }}">
    </div>
    <div class="form-group">
        <label for="note-text">Text</label>
        <textarea class="form-control" id="note-text" name="note-text">{{ note_text }}</textarea>
        {% if error|bitwise_and(2) == 2 %}
        <small class="text-danger">
            Please provide a note text.
        </small>
        {% endif %}
    </div>
    <p><i class="fas fa-info-circle"></i> <a aria-controls="advancedOptions" aria-expanded="false"
            data-toggle="collapse" href="#advancedOptions"> Advanced options</a></p>
    <div class="collapse" id="advancedOptions">
        <div class="card">
            <div class="card-header">
                Advanced options
            </div>
            <div class="card-body">
                <div class="card-text">
                    <div class="form-group">
                        <label for="note-scope">Scope
                            <small class="text-info">&mdash; If no value is provided the default will be
                                "<strong>{{ session["current_scope"] }}</strong>" (that is,
                                the current scope)
                            </small>
                        </label>
                        <input class="form-control auto-complete" id="note-scope" name="note-scope"
                            placeholder="Enter scope identifier" type="text" value="{{ note_scope }}">
                        {% if error|bitwise_and(4) == 4 %}
                        <small class="text-danger">
                            A scope with this identifier doesn't exist. Please provide an identifier for an existing
                            scope.
                        </small>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <br />
    </div>
    <a class="btn btn-secondary"
        href="{{ url_for('note.index', map_identifier=topic_map.identifier, topic_identifier=topic.identifier) }}"
        role="button">Cancel</a>
    <button class="btn btn-success" type="submit">Update note</button>
</form>
<br />
{% endblock %}