{% extends "layout_1_column.html" %}
{% block title %}<title>Page Not Found</title>{% endblock %}
{% block body %}
<h1>Page Not Found</h1>
<p class="alert alert-warning">What you were looking for is just not there. Find your way back <a
        href="{% if current_user.is_authenticated %}{{ url_for('map.index') }}{% else %}{{ url_for('map.published') }}{% endif %}">home</a>.
</p>
<br />
<br />
<p class="text-center">
    <img width="560" class="img-fluid" src="{{ url_for('static', filename='page-not-found.svg') }}">
</p>
{% endblock %}