{% extends "layout.html" %}

{% block title %}
<title>Create map | Contextualise</title>
{% endblock %}

{% block header_menu %}
<a class="nav-link" href="{{ url_for('map.public') }}">Public maps</a>
{% endblock %}

{% block javascript %}
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <h1>Create map</h1>
        <hr />
        <form action="{{ url_for('map.create') }}" autocomplete="off" enctype="multipart/form-data" method="post"
            role="form">
            <input name="_csrf_token" type="hidden" value="{{ csrf_token() }}">
            <div class="mb-3">
                <label for="map-name" class="form-label">Name</label>
                <input class="form-control" id="map-name" name="map-name" placeholder="Enter title" required autofocus
                    type="text" value="{{ map_name }}">
            </div>
            <div class="mb-3">
                <label for="map-description" class="form-label">Description</label>
                <textarea class="form-control" id="map-description" name="map-description"
                    rows="3">{{ map_description }}</textarea>
            </div>
            <div class="mb-3">
                <label for="map-image-file" class="form-label">Image</label>
                <div class="custom-file">
                    <input type="file" accept=".jpg,.jpeg,.png,.gif" class="form-control" id="map-image-file"
                        name="map-image-file">
                </div>
                {% if error|bitwise_and(2) == 2 %}
                <small class="text-danger">
                    Filename not provided.
                </small>
                {% endif %}
                {% if error|bitwise_and(4) == 4 %}
                <small class="text-danger">
                    Unsupported file type; that is, not of type PNG or JPG.
                </small>
                {% endif %}
            </div>
            {% if 'admin' in current_user.roles %}
            <label class="form-label">Access?</label>
            <div class="form-check">
                <input checked class="form-check-input" id="published-radio-1" name="map-published" type="radio"
                    value="0">
                <label class="form-check-label" for="published-radio-1">
                    Private
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" id="published-radio-2" name="map-published" type="radio" value="1">
                <label class="form-check-label" for="published-radio-2">
                    Public
                </label>
            </div>
            {% endif %}
            <br />
            <a class="btn btn-secondary" href="{{ url_for('map.index') }}" role="button">Cancel</a>
            <button class="btn btn-success" type="submit">Create map</button>
        </form>
        <br />
    </div>
</div>
{% endblock %}