{% extends "layout.html" %}

{% block title %}
<title>Delete map | Contextualise</title>
{% endblock %}

{% block header_menu %}
<a class="nav-link" href="{{ url_for('map.published') }}">Published maps</a>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <h1>
            {{ topic_map.name }}&nbsp;&middot;&nbsp;<small class="text-muted">Delete map</small>
        </h1>
        <hr />
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <strong>Beware!</strong> Deleting a topic map also deletes all of its
            resources. A deleted topic map cannot be recovered. Consider carefully what you are doing before proceeding!
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        <form action="{{ url_for('map.delete', map_identifier=topic_map.identifier) }}" method="post" role="form">
            <input name="_csrf_token" type="hidden" value="{{ csrf_token() }}">
            <div class="mb-3">
                <label for="map-name" class="form-label">Name</label>
                <input aria-readonly="true" disabled class="form-control" id="map-name" name="map-name" readonly
                    type="text" value="{{ topic_map.name }}">
            </div>
            <div class="mb-3">
                <label class="form-label">Description</label><br />
                <div class="text-secondary">{{ topic_map.description|safe }}</div>
            </div>
            <div class="mb-3">
                <label class="form-label">Image</label>
                <br />
                {% if topic_map.image_path %}
                <img width="640" alt="{{ map_name }}" class="map-image img-thumbnail" class="img-thumbnail"
                    src="/static/resources/{{ topic_map.identifier }}/{{ topic_map.image_path }}">
                {% else %}
                <img width="640" alt="{{ map_name }}" class="map-image img-thumbnail" class="img-thumbnail"
                    src="{{ url_for('static', filename='blank-canvas.svg') }}">
                {% endif %}
            </div>
            <div class="mb-3">
                <label class="form-label">Access?</label>
                <br />
                {% if topic_map.published %}
                <span class="badge text-bg-success">Published</span>
                {% else %}
                <span class="badge text-bg-warning">Private</span>
                {% endif %}
            </div>
            <hr />
            <a class="btn btn-secondary" href="{{ url_for('map.view', map_identifier=topic_map.identifier) }}"
                role="button">Cancel</a>
            <button class="btn btn-danger" type="submit">Delete map</button>
        </form>
        <br />
    </div>
</div>
{% endblock %}