{% extends "layout.html" %}

{% block title %}
<title>My maps &mdash; Contextualise</title>
{% endblock %}

{% block header_menu %}
<li class="nav-item">
    <a class="nav-link" href="{{ url_for('map.public') }}">Public maps</a>
</li>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <h1>My maps</h1>
        <br />
    </div>
</div>
<div class="row">
    <!-- Navigation tabs -->
    <div class="col-md-12">
        <ul class="nav nav-tabs" id="map-tabs" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link active" id="my-maps-tab" data-bs-toggle="tab" data-bs-target="#my-maps"
                    type="button" role="tab" aria-controls="my-maps" aria-selected="true">Maps I own</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="collaboration-maps-tab" data-bs-toggle="tab"
                    data-bs-target="#collaboration-maps" type="button" role="tab" aria-controls="collaboration-maps"
                    aria-selected="false">Maps I am collaborating on</button>
            </li>
        </ul>
    </div>
    <!-- Tab panes -->
    <div class="tab-content">
        <div class="tab-pane active mt-4" id="my-maps" role="tabpanel" aria-labelledby="my-maps-tab" tabindex="0">
            <!-- My maps -->
            {% if own_maps %}
            <div class="row row-cols-1 row-cols-lg-3">
                {% for map in own_maps %}
                <div class="col mb-4">
                    <div class="card h-100">
                        <a
                            href="{{ url_for('topic.view', map_identifier=map['identifier'], topic_identifier='home') }}">
                            {% if map.image_path %}
                            <img alt="{{ map.name }}" class="card-img-top"
                                src="/static/resources/{{ map.identifier }}/{{ map.image_path }}">
                            {% else %}
                            <img alt="{{ map.name }}" class="card-img-top"
                                src="{{ url_for('static', filename='blank-canvas.svg') }}">
                            {% endif %}
                        </a>
                        <div class="card-header">
                            {% if map.published %}
                            <span class="badge text-bg-warning">Public</span>
                            {% else %}
                            <span class="badge text-bg-info">Private</span>
                            {% endif %}
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">
                                {{ map.name }}
                            </h5>
                            <p class="card-text">{{ map.description }}</p>
                        </div>
                        <div class="card-footer">
                            <div class="btn-group me-1" role="group">
                                <button class="btn btn-outline-secondary dropdown-toggle" type="button"
                                    data-bs-toggle="dropdown" aria-expanded="false">
                                    Options
                                </button>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a class="dropdown-item"
                                            href="{{ url_for('topic.view', map_identifier=map['identifier'], topic_identifier='home') }}">View
                                            map</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item"
                                            href="{{ url_for('note.index', map_identifier=map['identifier']) }}">View
                                            notes</a>
                                    </li>
                                    <li></li>
                                    <a class="dropdown-item"
                                        href="{{ url_for('topic.index', map_identifier=map['identifier'], topic_identifier='home') }}">View
                                        topics index</a>
                                    </li>
                                    <li>
                                        <div class="dropdown-divider"></div>
                                    </li>
                                    <li>
                                        <a class="dropdown-item"
                                            href="{{ url_for('map.view', map_identifier=map['identifier']) }}">View
                                            map details</a>
                                    </li>
                                    <li>
                                        <div class="dropdown-divider"></div>
                                    </li>
                                    <li>
                                        <a class="dropdown-item"
                                            href="{{ url_for('map.edit', map_identifier=map['identifier']) }}">Edit
                                            map</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="#"
                                            hx-get="/api/delete-map/{{ map['identifier'] }}"
                                            hx-target="#modal-dialog-component" hx-trigger="click"
                                            data-bs-toggle="modal" data-bs-target="#modal-dialog-component">Delete
                                            map</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            <!-- Pagination -->
            {% if total_pages > 1 %}
            <div class="mx-auto p-2" style="width: 200px;">
                <nav aria-label="Page navigation">
                    <ul class="pagination">
                        {% if page > 1 %}
                        <li class="page-item"><a class="page-link" aria-label="Previous"
                                href="{{ url_for('map.index', page=page-1) }}"><i class="bi bi-arrow-left"></i></a></li>
                        {% else %}
                        <li class="page-item"><a class="page-link disabled" aria-label="Previous" href="#"><i
                                    class="bi bi-arrow-left"></i></a></li>
                        {% endif %}
                        {% for p in range(1, total_pages + 1) %}
                        {% if p == page %}
                        <li class="page-item"><a class="page-link disabled" href="#">{{ p }}</a></li>
                        {% else %}
                        <li class="page-item"><a class="page-link" href="{{ url_for('map.index', page=p) }}">{{ p }}</a>
                        </li>
                        {% endif %}
                        {% endfor %}
                        {% if page < total_pages %} <li class="page-item"><a class="page-link" aria-label="Next"
                                href="{{ url_for('map.index', page=page+1) }}"><i class="bi bi-arrow-right"></i></a>
                            </li>
                            {% else %}
                            <li class="page-item"><a class="page-link disabled" aria-label="Next" href="#"><i
                                        class="bi bi-arrow-right"></i></a>
                                {% endif %}
                    </ul>
                </nav>
            </div>
            {% endif %}
            {% endif %}
            <div class="row">
                <div class="col">
                    {% if not own_maps %}
                    <p class="alert alert-info" role="alert">
                        No topic maps. Click on the "Create map" button below to create a topic map.
                    </p>
                    <br />
                    <br />
                    <p class="text-center">
                        <img width="520" class="img-fluid" src="{{ url_for('static', filename='blank-canvas.svg') }}">
                    </p>
                    {% endif %}
                    <a class="btn btn-primary" href="{{ url_for('map.create') }}">Create map</a>
                    <br />
                    <br />
                </div>
            </div>
        </div>
        <div class="tab-pane mt-4" id="collaboration-maps" role="tabpanel" aria-labelledby="collaboration-maps-tab"
            tabindex="0">
            <!-- Collaboration maps -->
            {% if collaboration_maps %}
            <div class="row row-cols-1 row-cols-lg-3">
                {% for map in collaboration_maps %}
                <div class="col mb-4">
                    <div class="card h-100">
                        <a
                            href="{{ url_for('topic.view', map_identifier=map['identifier'], topic_identifier='home') }}">
                            {% if map.image_path %}
                            <img alt="{{ map.name }}" class="card-img-top"
                                src="/static/resources/{{ map.identifier }}/{{ map.image_path }}">
                            {% else %}
                            <img alt="{{ map.name }}" class="card-img-top"
                                src="{{ url_for('static', filename='blank-canvas.svg') }}">
                            {% endif %}
                        </a>
                        <div class="card-header">
                            {% if map.collaboration_mode.name == "VIEW" %}
                            <span class="badge text-bg-info">Can view</span>
                            {% elif map.collaboration_mode.name == "COMMENT" %}
                            <span class="badge text-bg-secondary">Can comment</span>
                            {% else %}
                            <span class="badge text-bg-warning">Can edit</span>
                            {% endif %}
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">
                                {{ map.name }}
                            </h5>
                            <p class="card-text">{{ map.description }}</p>
                        </div>
                        <div class="card-footer">
                            <div class="btn-group" role="group">
                                <button class="btn btn-outline-secondary dropdown-toggle" type="button"
                                    data-bs-toggle="dropdown" aria-expanded="false">
                                    Options
                                </button>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a class="dropdown-item"
                                            href="{{ url_for('topic.view', map_identifier=map['identifier'], topic_identifier='home') }}">View
                                            map</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item"
                                            href="{{ url_for('note.index', map_identifier=map['identifier']) }}">View
                                            notes</a>
                                    </li>
                                    <li>
                                        <div class="dropdown-divider"></div>
                                    </li>
                                    <li>
                                        <a class="dropdown-item"
                                            href="{{ url_for('map.view', map_identifier=map['identifier']) }}">View
                                            map details</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            {% endif %}
            {% if not collaboration_maps %}
            <div class="row">
                <div class="col">
                    <p class="alert alert-info" role="alert">
                        Currently, nobody has shared a topic map with you for the purpose of collaboration.
                        Patience, my friend, patience!
                    </p>
                    <br />
                    <br />
                    <p class="text-center">
                        <img width="410" class="img-fluid" src="{{ url_for('static', filename='void.svg') }}">
                    </p>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}