{% extends "layout.html" %}

{% block title %}
<title>Public maps &mdash; Contextualise</title>
{% endblock %}

{% block header_menu %}
<li class="nav-item">
    <a class="nav-link" href="{{ url_for('map.index') }}">My maps</a>
</li>
{% endblock %}

{% block content %}
{% if maps %}
<div class="row">
    <div class="col">
        <h1>Public maps</h1>
        <br />
    </div>
</div>
<div class="row row-cols-1 row-cols-lg-3">
    {% for map in maps %}
    <div class="col mb-4">
        <div class="card h-100">
            <a href="{{ url_for('topic.view', map_identifier=map['identifier'], topic_identifier='home') }}">
                {% if map.image_path %}
                <img alt="{{ map.name }}" class="card-img-top"
                    src="/static/resources/{{ map.identifier }}/{{ map.image_path }}">
                {% else %}
                <img alt="{{ map.name }}" class="card-img-top"
                    src="{{ url_for('static', filename='blank-canvas.svg') }}">
                {% endif %}
            </a>
            <div class="card-body">
                <h5 class="card-title">
                    {{ map.name }}
                </h5>
                <p class="card-text">{{ map.description }}</p>
            </div>
            <div class="card-footer">
                <div class="btn-group" role="group">
                    <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Options
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item"
                                href="{{ url_for('topic.view', map_identifier=map['identifier'], topic_identifier='home') }}">View
                                map</a>
                        </li>
                        <li><a class="dropdown-item"
                                href="{{ url_for('note.index', map_identifier=map['identifier']) }}">View
                                notes</a>
                        </li>
                        <a class="dropdown-item"
                            href="{{ url_for('topic.index', map_identifier=map['identifier'], topic_identifier='home') }}">View
                            topics index</a>
                        </li>
                        <li>
                            <div class="dropdown-divider"></div>
                        </li>
                        <li><a class="dropdown-item"
                                href="{{ url_for('map.view', map_identifier=map['identifier']) }}">View
                                map details</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
<!-- Pagination -->
{% if total_pages > 1 %}
<div class="mx-auto p-2" style="width: 200px;">
    <nav aria-label="Page navigation">
        <ul class="pagination">
            {% if page > 1 %}
            <li class="page-item"><a class="page-link" aria-label="Previous"
                    href="{{ url_for('map.public', page=page-1) }}"><i class="bi bi-arrow-left"></i></a></li>
            {% else %}
            <li class="page-item"><a class="page-link disabled" aria-label="Previous" href="#"><i
                        class="bi bi-arrow-left"></i></a></li>
            {% endif %}
            {% for p in range(1, total_pages + 1) %}
            {% if p == page %}
            <li class="page-item"><a class="page-link disabled" href="#">{{ p }}</a></li>
            {% else %}
            <li class="page-item"><a class="page-link" href="{{ url_for('map.public', page=p) }}">{{ p }}</a>
            </li>
            {% endif %}
            {% endfor %}
            {% if page < total_pages %} <li class="page-item"><a class="page-link" aria-label="Next"
                    href="{{ url_for('map.public', page=page+1) }}"><i class="bi bi-arrow-right"></i></a>
                </li>
                {% else %}
                <li class="page-item"><a class="page-link disabled" aria-label="Next" href="#"><i
                            class="bi bi-arrow-right"></i></a>
                    {% endif %}
        </ul>
    </nav>
</div>
{% endif %}
{% else %}
<div class="row">
    <div class="col">
        <p class="alert alert-info" role="alert">
            Currently, nobody has published a topic map. Patience, my friend, patience!
        </p>
        <br />
        <br />
        <p class="text-center">
            <img width="410" class="img-fluid" src="{{ url_for('static', filename='void.svg') }}">
        </p>
    </div>
</div>
{% endif %}
{% endblock %}