{% extends "layout.html" %}

{% block title %}
<title>Published maps &mdash; Contextualise</title>
{% endblock %}

{% block maps_menu %}
<li class="nav-item">
    <a class="nav-link" href="{{ url_for('map.index') }}">My maps</a>
</li>
{% endblock %}

{% block content %}
{% if maps %}
<div class="row">
    <div class="col">
        <h1>Published maps</h1>
    </div>
</div>
<div class="row row-cols-1 row-cols-lg-3">
    {% for map in maps %}
    <div class="col mb-4">
        <div class="card h-100">
            {% if map.image_path %}
            <img alt="{{ map.name }}" class="card-img-top"
                src="/static/resources/{{ map.identifier }}/{{ map.image_path }}">
            {% else %}
            <img alt="{{ map.name }}" class="card-img-top" src="{{ url_for('static', filename='blank-canvas.svg') }}">
            {% endif %}
            <div class="card-body">
                <h5 class="card-title">
                    {{ map.name }}
                </h5>
                <p class="card-text">{{ map.description }}</p>
            </div>
            <div class="card-footer">
                <div class="btn-group my-1">
                    <a href="{{ url_for('topic.view', map_identifier=map['identifier'], topic_identifier='home') }}"
                        class="btn btn-primary">View map</a>
                    <div class="btn-group" role="group">
                        <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Options
                        </button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item"
                                    href="{{ url_for('note.index', map_identifier=map['identifier']) }}">View
                                    notes</a></li>
                            <li>
                                <div class="dropdown-divider"></div>
                            </li>
                            <li><a class="dropdown-item"
                                    href="{{ url_for('map.view', map_identifier=map['identifier']) }}">View
                                    map details</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% else %}
<div class="row">
    <div class="col">
        <p class="alert alert-info" role="alert">
            Currently, nobody has published a topic map. Patience, my friend, patience!
        </p>
        <br />
        <br />
        <p class="text-center">
            <img width="410" class="img-fluid" src="{{ url_for('static', filename='void.svg') }}">
        </p>
    </div>
</div>
{% endif %}
{% endblock %}