{% extends "layout.html" %}

{% block open_graph %}
<meta property="og:title" content="{{ topic_map.name }}" />
<meta property="og:url" content="{{ request.url }}" />
<meta property="og:type" content="website" />
<meta property="og:description" content="{{ topic_map.description|safe }}" />
<meta property="og:image"
    content="{{ request.url_root }}static/resources/{{ topic_map.identifier }}/{{ topic_map.image_path }}" />
<meta property="og:site_name" content="Contextualise" />
{% endblock %}

{% block title %}
<title>{{ topic_map.name }} | Contextualise</title>
{% endblock %}

{% block links %}
<link rel="canonical" href="{{ request.url }}" />
{% endblock %}

{% block header_menu %}
<a class="nav-link" href="{{ url_for('map.public') }}">Public maps</a>
{% endblock %}

{% block javascript %}{% endblock %}

{% block content %}
<!-- Tabs -->
<div class="row">
    <div class="col-md-12">
        {% if topic_map.owner %}
        <ul class="nav nav-tabs">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle active" data-bs-toggle="dropdown" href="#" role="button"
                    aria-expanded="false">Map</a>
                <ul class="dropdown-menu">
                    <li><a aria-disabled="true" class="dropdown-item disabled" href="#" tabindex="-1">View</a></li>
                    <li>
                        <div class="dropdown-divider"></div>
                    </li>
                    <li>
                        <a class="dropdown-item"
                            href="{{ url_for('map.edit', map_identifier=topic_map.identifier) }}">Edit
                            map</a>
                    </li>
                    <li>
                        <a class="dropdown-item"
                            href="{{ url_for('map.delete', map_identifier=topic_map.identifier) }}">Delete
                            map</a>
                    </li>
                    <li>
                        <div class="dropdown-divider"></div>
                    </li>
                    <li>
                        <a class="dropdown-item"
                            href="{{ url_for('topic.view', map_identifier=topic_map['identifier'], topic_identifier='home') }}">View
                            map</a>
                    </li>
                    <li>
                        <a class="dropdown-item"
                            href="{{ url_for('note.index', map_identifier=topic_map['identifier']) }}">View
                            notes</a>
                    </li>
                </ul>
            </li>
            <li class="nav-item">
                <a class="nav-link"
                    href="{{ url_for('map.collaborators', map_identifier=topic_map.identifier) }}">Collaborators</a>
            </li>
        </ul>
        {% endif %}
    </div>
</div>
<div class="row mt-4">
    <div class="col-md-12">
        <h1>
            {{ topic_map.name }}&nbsp;&middot;&nbsp;<small class="text-muted">View map details</small>
        </h1>
        <hr />
        <div class="row">
            <div class="col-md-12">
                <div class="mb-3">
                    <label class="form-label">Name</label>
                    <input aria-readonly="true" disabled class="form-control" id="map-name" name="map-name" readonly
                        type="text" value="{{ topic_map.name }}">
                </div>
                <div class="mb-3">
                    <label class="form-label">Description</label><br />
                    <div class="text-secondary">{{ topic_map.description|safe }}</div>
                </div>
                <div class="mb-3">
                    <label class="form-label">Image</label><br />
                    {% if topic_map.image_path %}
                    <img width="480" alt="{{ map_name }}" class="map-image img-thumbnail" class="img-thumbnail"
                        src="/static/resources/{{ topic_map.identifier }}/{{ topic_map.image_path }}">
                    {% else %}
                    <img width="480" alt="{{ map_name }}" class="map-image img-thumbnail" class="img-thumbnail"
                        src="{{ url_for('static', filename='blank-canvas.svg') }}">
                    {% endif %}
                </div>
                <div class="mb-3">
                    <label class="form-label">Access</label>
                    <br />
                    {% if topic_map.published %}
                    <span class="badge text-bg-warning">Public</span>
                    {% else %}
                    <span class="badge text-bg-info">Private</span>
                    {% endif %}
                </div>
            </div>
        </div>
        {% if current_user.is_authenticated %}
        <a class="btn btn-secondary" href="{{ url_for('map.index', map_identifier=topic_map.identifier) }}"
            role="button">Return</a>
        {% else %}
        <a class="btn btn-secondary" href="{{ url_for('map.public') }}" role="button">Return</a>
        {% endif %}
        <a class="btn btn-primary"
            href="{{ url_for('topic.view', map_identifier=topic_map['identifier'], topic_identifier='home') }}"
            role="button">View map</a>
        <br />
        <br />
    </div>
</div>
{% endblock %}