{% extends "layout.html" %}

{% block title %}
<title>{{ topic_map.name }}</title>
{% endblock %}

{% block header_menu %}
{% include "_header_menu.html" %}
{% endblock %}

{% block stylesheets %}
<link href="https://cdn.jsdelivr.net/npm/easymde@2.18.0/dist/easymde.min.css" rel="stylesheet">
<link href="https://unpkg.com/gijgo@1.9.14/css/gijgo.min.css" rel="stylesheet" type="text/css" />
{% endblock %}

{% block javascript %}
<script src="https://cdn.jsdelivr.net/npm/easymde@2.18.0/dist/easymde.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios@1.7.2/dist/axios.min.js"></script>
<script src="https://unpkg.com/gijgo@1.9.14/js/gijgo.min.js" type="text/javascript"></script>
<script>
    var editor = new EasyMDE({ element: document.getElementById("topic-text") });

    document.getElementById("topic-name").addEventListener("blur", (event) => {
        var topicName = document.getElementById("topic-name").value;
        if (topicName !== "") {
            axios
                .get("/api/get-slug?value=" + topicName)
                .then(function (response) {
                    // Handle success
                    document.getElementById("topic-identifier").value = response.data.slug;
                })
                .catch(function (error) {
                    // Handle error
                    console.log(error);
                })
                .then(function () {
                    // Always executed
                });
        }
    });

    var topicIdentifierInput = document.getElementById("topic-identifier");

    document
        .getElementById("edit-identifier-button")
        .addEventListener("click", (event) => {
            if (topicIdentifierInput.readOnly) {
                topicIdentifierInput.readOnly = false;
                topicIdentifierInput.focus();
                document.getElementById("edit-identifier-button").innerHTML = "Ok";
            } else {
                topicIdentifierInput.readOnly = true;
                document.getElementById("edit-identifier-button").focus();
                document.getElementById("edit-identifier-button").innerHTML = "Edit";
            }
        });

    // Timeline controls and validation logic
    let startDate = null;
    let endDate = null;
    const currentDate = new Date();
    const month = (currentDate.getMonth() + 1).toString().padStart(2, "0");
    const today = currentDate.getDate().toString().padStart(2, "0");
    const tomorrow = (currentDate.getDate() + 1).toString().padStart(2, "0");
    $("#timeline-start-date").datepicker({
        value: `${currentDate.getFullYear()}-${month}-${today}`,
        uiLibrary: "bootstrap5",
        format: "yyyy-mm-dd"
    }).on("change", function (e) {
        const [year, month, day] = $(this).val().split("-").map(Number);
        startDate = new Date(year, month - 1, day);

        if ((startDate && endDate) && startDate >= endDate) {
            $(this).val("");
            const dateErrorModal = new bootstrap.Modal('#dateErrorModal');
            dateErrorModal.show();
        }
    });
    $("#timeline-end-date").datepicker({
        value: `${currentDate.getFullYear()}-${month}-${tomorrow}`,
        uiLibrary: "bootstrap5",
        format: "yyyy-mm-dd"
    }).on("change", function (e) {
        const [year, month, day] = $(this).val().split("-").map(Number);
        endDate = new Date(year, month - 1, day);

        if ((startDate && endDate) && startDate >= endDate) {
            $(this).val("");
            const dateErrorModal = new bootstrap.Modal('#dateErrorModal');
            dateErrorModal.show();
        }
    });

    $("input[type=radio][name='timeline-type']").change(function () {
        let selectedId = $(this).attr("id");
        switch (selectedId) {
            case "timeline-none":
                $("#timeline-controls").hide();

                // Clear the fields
                $("#timeline-description").val("");
                $("#timeline-media-url").val("");
                $("#timeline-start-date").val("");
                $("#timeline-end-date").val("");

                $("#timeline-description").prop("disabled", true);
                $("#timeline-media-url").prop("disabled", true);
                $("#timeline-start-date").prop("disabled", true);
                $("#timeline-end-date").prop("disabled", true);
                break;
            case "timeline-event":
                // Display the timeline controls
                $("#timeline-controls").show();

                if (endDate) {
                    endDate = null;
                }

                $("#timeline-start-date").prop("required", true);
                $("#timeline-description").prop("required", true);
                $("#timeline-end-date").prop("required", false);

                $("#timeline-end-date").val("");

                $("#timeline-description").prop("disabled", false);
                $("#timeline-media-url").prop("disabled", false);
                $("#timeline-start-date").prop("disabled", false);
                $("#timeline-end-date").prop("disabled", true);
                break;
            case "timeline-era":
                // Display the timeline controls
                $("#timeline-controls").show();

                $("#timeline-start-date").prop("required", true);
                $("#timeline-description").prop("required", true);
                $("#timeline-media-url").prop("required", false);
                $("#timeline-end-date").prop("required", true);

                $("#timeline-description").prop("disabled", false);
                $("#timeline-media-url").prop("disabled", true);
                $("#timeline-start-date").prop("disabled", false);
                $("#timeline-end-date").prop("disabled", false);
                break;
        }
    });
</script>

{% if error %}
<script>
    $('#advancedOptions').collapse('show');
</script>
{% endif %}
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <h1>Create topic</h1>
        <hr />
        <form
            action="{{ url_for('topic.create', map_identifier=topic_map.identifier, topic_identifier=topic.identifier) }}"
            autocomplete="off" method="post" role="form">
            <input name="_csrf_token" type="hidden" value="{{ csrf_token() }}">
            <div class="mb-3">
                <label for="topic-name" class="form-label">Name</label>
                <input class="form-control" id="topic-name" name="topic-name" placeholder="Enter name" required
                    autofocus type="text" value="{{ topic_name or '' }}">
            </div>
            <div class="mb-3">
                <label for="topic-identifier" class="form-label">Identifier</label>
                <div class="input-group">
                    <input class="form-control" id="topic-identifier" name="topic-identifier"
                        placeholder="Enter identifier" readonly required type="text"
                        value="{{ topic_identifier or '' }}">
                    <span class="input-group-text">
                        <button class="btn btn-light btn-sm" id="edit-identifier-button" type="button">
                            Edit
                        </button>
                    </span>
                </div>
                {% if error|bitwise_and(2) == 2 %}
                <small class="text-danger">
                    A topic with this identifier already exists. Provide a different topic identifier.
                </small>
                {% endif %}
                {% if error|bitwise_and(4) == 4 %}
                <small class="text-danger">
                    A topic identifier needs to be provided to create a topic. Provide a topic identifier.
                </small>
                {% endif %}
            </div>
            <div class="mb-3">
                <label for="topic-text" class="form-label">Text</label>
                <textarea class="form-control" id="topic-text" name="topic-text"
                    rows="8">{{ topic_text or '' }}</textarea>
            </div>
            {% if temporals_feature %}
            <div class="mb-3">
                <label for="topic-text" class="form-label">Temporal event or era?</label>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="timeline-type" id="timeline-none" value="none"
                        checked>
                    <label class="form-check-label" for="timeline-none">None</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="timeline-type" id="timeline-event" value="event">
                    <label class="form-check-label" for="timeline-event">
                        Event
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="timeline-type" id="timeline-era" value="era">
                    <label class="form-check-label" for="timeline-era">
                        Era
                    </label>
                </div>
            </div>
            {% endif %}
            <div id="timeline-controls" style="display: none;">
                <div class="row">
                    <div class="col">
                        <div class="mb-3">
                            <label for="timeline-description" class="form-label">Description</label>
                            <textarea class="form-control" id="timeline-description" name="timeline-description"
                                rows="2" disabled></textarea>
                            {% if error|bitwise_and(32) == 32 %}
                            <small class="text-danger">
                                A timeline event or era needs to have a description. Provide a description.
                            </small>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="mb-3">
                            <label for="timeline-media-url" class="form-label">Media URL</label>
                            <input class="form-control" id="timeline-media-url" name="timeline-media-url"
                                placeholder="Enter URL" type="text" disabled>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="mb-3">
                            <label for="timeline-start-date" class="form-label">Start date
                                <small class="text-info">&mdash; Date format is "yyyy-mm-dd"</small>
                            </label>
                            <input class="form-control" id="timeline-start-date" name="timeline-start-date"
                                placeholder="Enter start date" type="text" disabled>
                            {% if error|bitwise_and(64) == 64 %}
                            <small class="text-danger">
                                A temporal event (or era) needs to have a start date. Provide a start date.
                            </small>
                            {% endif %}
                        </div>
                    </div>
                    <div class="col">
                        <div class="mb-3">
                            <label for="timeline-end-date" class="form-label">End date
                                <small class="text-info">&mdash; Date format is "yyyy-mm-dd". The end date must be after
                                    the start date.</small>
                            </label>
                            <input class="form-control" id="timeline-end-date" name="timeline-end-date"
                                placeholder="Enter end date" type="text" disabled>
                            {% if error|bitwise_and(128) == 128 %}
                            <small class="text-danger">
                                A temporal era needs to have a end date. Provide an end date.
                            </small>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            <p>
                <a data-bs-toggle="collapse" href="#advancedOptions" role="button" aria-expanded="false"
                    aria-controls="collapseExample">
                    Toggle options</a>
            </p>
            <div class="collapse" id="advancedOptions">
                <div class="card">
                    <div class="card-header">
                        <p class="mb-0"><strong><i class="bi bi-gear text-secondary"></i>&nbsp;Options</strong></p>
                    </div>
                    <div class="card-body">
                        <div class="card-text">
                            <div class="mb-3">
                                <label for="topic-instance-of" class="form-label">Type
                                    <small class="text-info">&mdash; If no value is provided the default will be
                                        "topic"</small>
                                </label>
                                <input class="form-control typeahead" id="topic-instance-of" name="topic-instance-of"
                                    placeholder="Enter type identifier" type="text"
                                    value="{{ topic_instance_of or '' }}">
                                {% if error|bitwise_and(8) == 8 %}
                                <small class="text-danger">
                                    A type with this identifier doesn't exist. Provide an identifier for an
                                    existing type.
                                </small>
                                {% endif %}
                            </div>
                            <div class="mb-3">
                                <label for="topic-text-scope" class="form-label">Text scope
                                    <small class="text-info">&mdash; If no value is provided the default will be
                                        "<strong>{{ session["current_scope"] }}</strong>" (that is, the current scope)
                                    </small>
                                </label>
                                <input class="form-control typeahead" id="topic-text-scope" name="topic-text-scope"
                                    placeholder="Enter scope identifier" type="text"
                                    value="{{ topic_text_scope or '' }}">
                                {% if error|bitwise_and(16) == 16 %}
                                <small class="text-danger">
                                    A scope with this identifier doesn't exist. Provide an identifier for an
                                    existing scope.
                                </small>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                <br />
            </div>
            <a class="btn btn-secondary"
                href="{{ url_for('topic.view', map_identifier=topic_map.identifier, topic_identifier=topic.identifier) }}"
                role="button">Cancel</a>
            <button class="btn btn-success" type="submit">Create topic</button>
        </form>
        <br />
    </div>
</div>
<div class="modal" id="dateErrorModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Date error</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>There is a problem with the dates that you have selected. Make sure that the era's end date is after
                    its start date.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}