{% extends "layout.html" %}

{% block title %}
<title>Topics index | {{ topic_map.name }}</title>
{% endblock %}

{% block stylesheets %}
<link href="{{ url_for('static', filename='default.css', version='1.0') }}" rel="stylesheet">
{% endblock %}

{% block javascript %}{% endblock %}

{% block header_menu %}
<li class="nav-item"><a class="nav-link" href="{{ url_for('map.index') }}">My maps</a></li>
<li class="nav-item"><a class="nav-link"
        href="{{ url_for('topic.view', map_identifier=topic_map.identifier, topic_identifier='home') }}">Home</a>
</li>
{% endblock %}

{% block header_menu_not_authenticated %}
<li class="nav-item"><a class="nav-link" href="{{ url_for('map.published') }}">Published maps</a></li>
<li class="nav-item"><a class="nav-link"
        href="{{ url_for('topic.view', map_identifier=topic_map.identifier, topic_identifier='home') }}">Home</a>
</li>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <h1>
            {{ topic_map.name }}&nbsp;&middot;&nbsp;<small class="text-muted">Topics list</small>
        </h1>
    </div>
</div>
<div class="row row-cols-1">
    <div class="col mb-4">
        <!--
        <div class="list-group">
            <ol class="list-group">
                {% for topic in topics %}
                <li class="list-group-item list-group-item-action d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto"><a
                            href="{{ url_for('topic.view', map_identifier=topic_map.identifier, topic_identifier=topic.identifier) }}">{{
                            topic.first_base_name.name }}</a>&nbsp;&middot;&nbsp;<span
                            class="text-secondary font-monospace"><small>{{
                                topic.identifier }}</small></span>
                    </div>
                    {% if topic.instance_of != 'base-topic' %}
                    <span class="badge text-bg-info">User-defined</span>
                    {% endif %}
                </li>
                {% endfor %}
            </ol>
        </div>
        -->
        <table class="table table-hover table-bordered">
            <thead>
                <tr>
                    <th scope="col" width="40%">Name</th>
                    <th scope="col" width="20%">Type</th>
                    <th scope="col" width="40%">Identifier</th>
                </tr>
            </thead>
            <tbody>
                {% for topic in topics %}
                <tr>
                    <th scope="row"><a
                            href="{{ url_for('topic.view', map_identifier=topic_map.identifier, topic_identifier=topic.identifier) }}">{{
                            topic.first_base_name.name }}</a></th>
                    <td>
                        <a
                            href="{{ url_for('topic.view', map_identifier=topic_map.identifier, topic_identifier=topic.instance_of) }}">{{
                            topic.instance_of|topic_name(topic_map.identifier) }}</a>
                    </td>
                    {% if topic.instance_of != 'base-topic' %}
                    <td><strong>{{ topic.identifier }}</strong></td>
                    {% else %}
                    <td>{{ topic.identifier }}</td>
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <!-- Pagination -->
    {% if total_pages > 1 %}
    <div class="mx-auto p-2" style="width: 200px;">
        <nav aria-label="Page navigation">
            <ul class="pagination">
                {% if page > 1 %}
                <li class="page-item"><a class="page-link" aria-label="Previous"
                        href="{{ url_for('topic.index', map_identifier=topic_map['identifier'], topic_identifier='home', page=page-1) }}"><i
                            class="bi bi-arrow-left"></i></a></li>
                {% else %}
                <li class="page-item"><a class="page-link disabled" aria-label="Previous" href="#"><i
                            class="bi bi-arrow-left"></i></a></li>
                {% endif %}
                {% for p in range(1, total_pages + 1) %}
                {% if p == page %}
                <li class="page-item"><a class="page-link disabled" href="#">{{ p }}</a></li>
                {% else %}
                <li class="page-item"><a class="page-link"
                        href="{{ url_for('topic.index', map_identifier=topic_map['identifier'], topic_identifier='home', page=p) }}">{{
                        p }}</a>
                </li>
                {% endif %}
                {% endfor %}
                {% if page < total_pages %} <li class="page-item"><a class="page-link" aria-label="Next"
                        href="{{ url_for('topic.index', map_identifier=topic_map['identifier'], topic_identifier='home', page=page+1) }}"><i
                            class="bi bi-arrow-right"></i></a>
                    </li>
                    {% else %}
                    <li class="page-item"><a class="page-link disabled" aria-label="Next" href="#"><i
                                class="bi bi-arrow-right"></i></a>
                        {% endif %}
            </ul>
        </nav>
    </div>
    {% endif %}
</div>
{% endblock %}