{% extends "layout.html" %}

{% block title %}
<title>{{ topic.first_base_name.name }} | {{ topic_map.name }}</title>
{% endblock %}

{% block stylesheets %}
<link href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css" rel="stylesheet" />
<link href="{{ url_for('static', filename='default.css', version='1.0') }}" rel="stylesheet">
<style>
    .fancybox-slide--iframe .fancybox-content {
        max-width: 100%;
        max-height: 100%;
        margin: 0;
    }
</style>
{% endblock %}

{% block javascript %}
<script src="https://unpkg.com/htmx.org@2.0.1"
    integrity="sha384-QWGpdj554B4ETpJJC9z+ZHJcA/i59TyjxEPXiiUgN2WmTyV5OEZWCD6gQhgkdpB/"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>

<script>
    // Popovers
    const popoverTriggerList = document.querySelectorAll('[data-bs-toggle="popover"]');
    const popoverList = [...popoverTriggerList].map(popoverTriggerEl => new bootstrap.Popover(popoverTriggerEl));

    // Trigger to display the associations (Related topics) card
    $(document).ready(function () {
        htmx.trigger("#associations-component", "newAssociations");
    });

    /*
        Workaround to ensure that the create-topic modal is not triggered if an nonexistent
        topic identifier is provided in the go-to-topic and create-generic-association modals.
    */
    $(".goto-typeahead").typeahead(
        {
            minLength: 3,
            highlight: true,
        },
        {
            name: "identifiers",
            source: topicIdentifiers,
            limit: 8
        }
    );

    if (document.getElementById("goto-button") != null) {
        document.getElementById("goto-button").addEventListener("click", (event) => {
            var gotoTopicIdentifier = document
                .getElementById("goto-topic-identifier")
                .value.trim();
            var gotoUrl = window.location.href.replace("#", "");
            gotoUrl = gotoUrl.replace(/\/[^\/]*$/, "/" + gotoTopicIdentifier);
            if (gotoTopicIdentifier) {
                window.location.href = gotoUrl;
            }
        });
    }

    // Change scope dialog
    document
        .querySelectorAll(".change-scope-link").forEach(function (element, index, array) {
            element.addEventListener("click", function () {
                var changeScopeModal = new bootstrap.Modal('#changeScopeModal');
                changeScopeModal.show();
            });
        });
</script>
{% endblock %}

{% block header_menu %}
{% include "_header_menu.html" %}
<li class="nav-item d-flex justify-content-center">
    <button class="btn btn-outline-primary mx-2" data-bs-toggle="modal" data-bs-target="#gotoModal" type="reset">Go to
        topic
    </button>
</li>
{% endblock %}

{% block header_menu_not_authenticated %}
<li class="nav-item"><a class="nav-link" href="{{ url_for('map.published') }}">Published maps</a></li>
<li class="nav-item">
    {% if map_notes_count == 0 %}
    <a class="nav-link" href="{{ url_for('note.index', map_identifier=topic_map.identifier) }}">Notes</a>
    {% else %}
    <a class="nav-link" href="{{ url_for('note.index', map_identifier=topic_map.identifier) }}">Notes&nbsp;<span
            class="badge rounded-pill text-bg-danger">
            {{ map_notes_count }}
        </span>
    </a>
    {% endif %}
</li>
{% if topic.identifier != 'home' %}
<li class="nav-item">
    <a class="nav-link" href="{{ url_for('topic.view', map_identifier=topic_map.identifier, topic_identifier='home') }}"
        role="button">Home</a>
</li>
{% else %}
<li class="nav-item">
    <a class="nav-link disabled">Home</a>
</li>
{% endif %}
{% endblock %}

{% block content %}
<!-- Tabs -->
<div class="row">
    <div class="col-md-12">
        {% if not current_user.is_authenticated or not collaboration_mode or collaboration_mode.name ==
        "VIEW" %}
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link active" href="#">Topic</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button"
                    aria-expanded="false">Visualisations</a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item"
                            href="{{ url_for('visualisation.network', map_identifier=topic_map.identifier, topic_identifier=topic.identifier) }}">View
                            network graph</a></li>
                    <li><a class="dropdown-item"
                            href="{{ url_for('visualisation.tags_cloud', map_identifier=topic_map.identifier, topic_identifier=topic.identifier) }}">View
                            tags cloud</a></li>
                    <li><a class="dropdown-item disabled" href="#">View timeline</a></li>
                    <li><a class="dropdown-item disabled" href="#">View geographic map</a></li>
                </ul>
            </li>
        </ul>
        {% endif %}
        {% if current_user.is_authenticated and collaboration_mode.name == "COMMENT" %}
        <ul class="nav nav-tabs">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button"
                    aria-expanded="false">Topic</a>
                <ul class="dropdown-menu">
                    <li><a aria-disabled="true" class="dropdown-item disabled" href="#" tabindex="-1">View</a></li>
                    <li>
                        <div class="dropdown-divider"></div>
                    </li>
                    <li>
                        <a class="dropdown-item"
                            href="{{ url_for('topic.add_note', map_identifier=topic_map.identifier, topic_identifier=topic.identifier) }}">Add
                            note</a>
                    </li>
                </ul>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button"
                    aria-expanded="false">Visualisations</a>
                <ul class="dropdown-menu">
                    <li>
                        <a class="dropdown-item"
                            href="{{ url_for('visualisation.network', map_identifier=topic_map.identifier, topic_identifier=topic.identifier) }}">View
                            network graph</a>
                    </li>
                    <li>
                        <a class="dropdown-item"
                            href="{{ url_for('visualisation.tags_cloud', map_identifier=topic_map.identifier, topic_identifier=topic.identifier) }}">View
                            tags cloud</a>
                    </li>
                    <li><a class="dropdown-item disabled" href="#">View timeline</a></li>
                    <li><a class="dropdown-item disabled" href="#">View geographic map</a></li>
                </ul>
            </li>
        </ul>
        {% endif %}
        {% if current_user.is_authenticated and collaboration_mode.name == "EDIT" %}
        <ul class="nav nav-tabs">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle active" data-bs-toggle="dropdown" href="#" role="button"
                    aria-expanded="false">Topic</a>
                <ul class="dropdown-menu">
                    <li><a aria-disabled="true" class="dropdown-item disabled" href="#" tabindex="-1">View</a></li>
                    <li>
                        <div class="dropdown-divider"></div>
                    </li>
                    <li>
                        <a class="dropdown-item"
                            href="{{ url_for('topic.create', map_identifier=topic_map.identifier, topic_identifier=topic.identifier) }}">Create
                            topic</a>
                    </li>
                    <li>
                        <a class="dropdown-item"
                            href="{{ url_for('topic.edit', map_identifier=topic_map.identifier, topic_identifier=topic.identifier) }}">Edit
                            topic</a>
                    </li>
                    <li>
                        <a class="dropdown-item"
                            href="{{ url_for('topic.edit_identifier', map_identifier=topic_map.identifier, topic_identifier=topic.identifier) }}">Edit
                            identifier</a>
                    </li>
                    <li>
                        <a class="dropdown-item"
                            href="{{ url_for('topic.view', map_identifier=topic_map.identifier, topic_identifier=topic.identifier, topicdelete=topic.identifier) }}">Delete
                            topic</a>
                    </li>
                    <li>
                        <div class="dropdown-divider"></div>
                    </li>
                    <li>
                        <a class="dropdown-item"
                            href="{{ url_for('topic.view_names', map_identifier=topic_map.identifier, topic_identifier=topic.identifier) }}">View
                            names</a>
                    </li>
                    <li>
                        <div class="dropdown-divider"></div>
                    </li>
                    <li>
                        <a class="dropdown-item"
                            href="{{ url_for('topic.add_note', map_identifier=topic_map.identifier, topic_identifier=topic.identifier) }}">Add
                            note</a>
                    </li>
                    <li>
                        <a class="dropdown-item"
                            href="{{ url_for('tag.add', map_identifier=topic_map.identifier, topic_identifier=topic.identifier) }}">Add
                            tags</a>
                    </li>
                    {% if 'admin' in current_user.roles %}
                    <li>
                        <div class="dropdown-divider"></div>
                    </li>
                    <li>
                        <a class="dropdown-item"
                            href="{{ url_for('attribute.index', map_identifier=topic_map.identifier, topic_identifier=topic.identifier) }}">View
                            attributes</a>
                    </li>
                    {% endif %}
                </ul>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button"
                    aria-expanded="false">Resources</a>
                <ul class="dropdown-menu">
                    <li>
                        <a class="dropdown-item"
                            href="{{ url_for('image.index', map_identifier=topic_map.identifier, topic_identifier=topic.identifier) }}">View</a>
                    </li>
                    <li>
                        <div class="dropdown-divider"></div>
                    </li>
                    <li>
                        <a class="dropdown-item"
                            href="{{ url_for('image.upload', map_identifier=topic_map.identifier, topic_identifier=topic.identifier) }}">Upload
                            image</a>
                    </li>
                    <li>
                        <a class="dropdown-item"
                            href="{{ url_for('file.upload', map_identifier=topic_map.identifier, topic_identifier=topic.identifier) }}">Upload
                            file</a>
                    </li>
                    <li>
                        <a class="dropdown-item"
                            href="{{ url_for('video.add', map_identifier=topic_map.identifier, topic_identifier=topic.identifier) }}">Add
                            video</a>
                    </li>
                    <li>
                        <a class="dropdown-item"
                            href="{{ url_for('link.add', map_identifier=topic_map.identifier, topic_identifier=topic.identifier) }}">Add
                            link</a>
                    </li>
                    <li>
                        <a class="dropdown-item"
                            href="{{ url_for('three_d.upload', map_identifier=topic_map.identifier, topic_identifier=topic.identifier) }}">Upload
                            3D scene</a>
                    </li>
                </ul>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button"
                    aria-expanded="false">Associations</a>
                <ul class="dropdown-menu">
                    <li>
                        <a class="dropdown-item"
                            href="{{ url_for('association.index', map_identifier=topic_map.identifier, topic_identifier=topic.identifier) }}">View</a>
                    </li>
                    <li>
                        <div class="dropdown-divider"></div>
                    </li>
                    <li>
                        <a class="dropdown-item"
                            href="{{ url_for('association.create', map_identifier=topic_map.identifier, topic_identifier=topic.identifier) }}">Create
                            association</a>
                    </li>
                    <li>
                        <a class="dropdown-item create-association-link" href="#">Create generic
                            association</a>
                    </li>
                </ul>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button"
                    aria-expanded="false">Visualisations</a>
                <ul class="dropdown-menu">
                    <li>
                        <a class="dropdown-item"
                            href="{{ url_for('visualisation.network', map_identifier=topic_map.identifier, topic_identifier=topic.identifier) }}">View
                            network graph</a>
                    </li>
                    <li>
                        <a class="dropdown-item"
                            href="{{ url_for('visualisation.tags_cloud', map_identifier=topic_map.identifier, topic_identifier=topic.identifier) }}">View
                            tags cloud</a>
                    </li>
                    <li><a class="dropdown-item disabled" href="#">View timeline</a></li>
                    <li><a class="dropdown-item disabled" href="#">View geographic map</a></li>
                </ul>
            </li>
        </ul>
        {% endif %}
    </div>
</div>
<!-- Topic -->
<div class="row mt-4">
    <div class="col-md-8">
        <!-- Topic title -->
        <h1>{% if topic.instance_of == 'tag' %}{{ topic.identifier }} <small class="text-muted"
                style="font-size: 60%;"><i style="color: gray" class="bi bi-tags-fill"></i></small>
            {% else %}
            {{ topic.first_base_name.name }} {% if topic.identifier == 'home' %}<small><i style="color: gray"
                    class="bi bi-house-fill"></i></small>{% endif %}
            {% endif %}
        </h1>
        <!-- Advanced topic properties -->
        <p><em>{{ creation_date }}</em>
            &mdash; <small><a aria-controls="advancedProperties" aria-expanded="false" data-bs-toggle="collapse"
                    href="#advancedProperties">Properties</a></small>
        </p>
        <div class="collapse" id="advancedProperties">
            <div class="card">
                <div class="card-header">
                    Properties
                </div>
                <div class="card-body">
                    <div class="card-text">
                        <table class="table table-bordered table-sm">
                            <thead>
                                <tr>
                                    <th scope="col">Key</th>
                                    <th scope="col">Value</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">Identifier</th>
                                    <td>
                                        <span class="badge text-bg-info">{{ topic.identifier }}</span>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">Name</th>
                                    <td>
                                        {{ topic.first_base_name.name }}
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">Type</th>
                                    <td>
                                        <a
                                            href="{{ url_for('topic.view', map_identifier=topic_map.identifier, topic_identifier=topic.instance_of) }}">{{
                                            topic.instance_of|topic_name(topic_map.identifier) }}</a>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">Creation timestamp</th>
                                    <td>{{ creation_date }}</td>
                                </tr>
                                <tr>
                                    <th scope="row">Modification timestamp</th>
                                    <td>{{ modification_date }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!-- Tags -->
        {% if topic.instance_of == 'tag' %}
        <h5 class="mt-3">Tagged topics</h5>
        <ul class="list-group">
            {% for identifier in associations['categorization', 'member'] %}
            <li class="list-group-item list-group-item-action"><a
                    href="{{ url_for('topic.view', map_identifier=topic_map.identifier, topic_identifier=identifier) }}">{{
                    identifier|topic_name(topic_map.identifier) }}</a>
            </li>
            {% endfor %}
        </ul>
        {% endif %}
        {% if ('categorization', 'category') in associations %}
        <h5 class="mt-3">Tags</h5>
        {% for identifier in associations['categorization', 'category'] %}
        <a class="btn btn-outline-primary btn-sm"
            href="{{ url_for('topic.view', map_identifier=topic_map.identifier, topic_identifier=identifier) }}">{{
            identifier }}</a>
        {% endfor %}
        {% endif %}
        <hr />
        <!-- Topic text -->
        {% if occurrences['text'] %}
        {{ occurrences['text']|safe }}
        <p><small><a href="#page-top">Back to top</a></small></p>
        {% else %}
        {% if is_map_owner %}
        <p class="alert alert-info" role="alert">
            This topic has no text. Click on the "Edit topic" button below to add text to this topic.
        </p>
        <a class="btn btn-primary"
            href="{{ url_for('topic.edit', map_identifier=topic_map.identifier, topic_identifier=topic.identifier) }}">Edit
            topic</a>
        <br />
        <br />
        {% else %}
        <p class="alert alert-info" role="alert">
            This topic has no text.
        </p>
        {% endif %}
        {% endif %}
        <!-- Topic notes -->
        {% if occurrences['notes'] %}
        <hr />
        <h5>Notes</h5>
        {% for note in occurrences['notes'] %}
        <a name="note-{{ note.identifier }}"></a>
        <div class="card border-warning">
            <div class="card-header">
                <small class="text-muted">{{ note.timestamp }}</small>
            </div>
            <div class="card-body text-secondary">
                <h5 class="card-title">{{ note.title }}</h5>
                <p class="card-text">{{ note.text|safe }}</p>
            </div>
            {% if current_user.is_authenticated and (collaboration_mode.name == "EDIT" or
            collaboration_mode.name ==
            "COMMENT") %}
            <div class="card-footer">
                <div class="btn-group my-1">
                    <div class="btn-group" role="group">
                        <button class="btn btn-outline-secondary dropdown-toggle" type="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Options
                        </button>
                        <ul class="dropdown-menu">
                            <li>
                                <a class="dropdown-item"
                                    href="{{ url_for('topic.edit_note', map_identifier=topic_map.identifier, topic_identifier=topic.identifier, note_identifier=note.identifier) }}">Edit
                                    note</a>
                            </li>
                            <li>
                                <a class="dropdown-item"
                                    href="{{ url_for('topic.view', map_identifier=topic_map.identifier, topic_identifier=topic.identifier, entitydelete=note.identifier) }}">Delete
                                    note</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            {% endif %}
        </div>
        <br />
        {% endfor %}
        <p><small><a href="#page-top">Back to top</a></small></p>
        {% endif %}
        <!-- Knowledge paths -->
        {% if is_knowledge_path_topic %}
        <hr />
        <div class="d-flex flex-row justify-content-center align-items-center" style="height: 36px;">
            <div aria-label="Previous, next, up and down navigation" class="btn-group" role="group">
                {% if ("navigation", "previous") in associations %}
                <a class="btn btn-info" href="{{ associations['navigation', 'previous'][0] }}" role="button"><i
                        class="bi bi-arrow-left"></i></i>&nbsp;&nbsp;&nbsp;Previous</a>
                {% endif %}
                {% if ("navigation", "up") in associations %}
                <a class="btn btn-info" href="{{ associations['navigation', 'up'][0] }}" role="button"><i
                        class="bi bi-arrow-up"></i></i>&nbsp;&nbsp;&nbsp;Up</a>
                {% endif %}
                {% if ("navigation", "down") in associations %}
                <a class="btn btn-info" href="{{ associations['navigation', 'down'][0] }}"
                    role="button">Down&nbsp;&nbsp;&nbsp;<i class="bi bi-arrow-down"></i></a>
                {% endif %}
                {% if ("navigation", "next") in associations %}
                <a class="btn btn-info" href="{{ associations['navigation', 'next'][0] }}"
                    role="button">Next&nbsp;&nbsp;&nbsp;<i class="bi bi-arrow-right"></i></a>
                {% endif %}
            </div>
        </div>
        <br />
        {% endif %}
    </div>
    <div class="col-md-4">
        <!-- Current context -->
        <div class="card contextualise-card">
            <div class="card-header">
                <strong>Current context</strong>
            </div>
            <div class="card-body">
                <ul>
                    <li>Map: <a href="{{ url_for('map.view', map_identifier=topic_map.identifier) }}">{{
                            topic_map.name }}</a>
                        {% if current_user.is_authenticated %}
                        {% if topic_map.published %}
                        <span class="badge text-bg-success">Published</span>
                        {% else %}
                        <span class="badge text-bg-warning">Private</span>
                        {% endif %}
                        {% endif %}
                        <!-- Map popover -->
                        &mdash; <small>
                            <a tabindex="-1" data-trigger="focus" aria-controls="advancedProperties"
                                data-placement="right" data-bs-html="true" aria-expanded="false"
                                data-bs-toggle="popover" data-bs-title="{{ topic_map.name }}" {% if topic_map.image_path
                                %}
                                data-bs-content='<img width="240px" alt="{{ topic_map.name }}" class="img-fluid" src="/static/resources/{{ topic_map.identifier }}/{{ topic_map.image_path }}"><hr /><p>{{ topic_map.description }}</p>'
                                {% else %}
                                data-bs-content='<img width="240px" alt="{{ topic_map.name }}" class="img-fluid" src="{{ url_for('
                                static', filename="blank-canvas.svg" ) }}">
                                <hr />
                                <p>{{ topic_map.description }}</p>'
                                {% endif %}
                                data-bs-content='<img width="240px" alt="{{ topic_map.name }}" class="img-fluid"
                                    src="/static/resources/{{ topic_map.identifier }}/{{ topic_map.image_path }}">
                                <hr />
                                <p>{{ topic_map.description }}</p>'
                                href="#mapInfo">Info
                            </a></small>
                    </li>
                    <li>Topic: {{ topic.first_base_name.name }}</li>
                    <li>Scope: <a
                            href="{{ url_for('topic.view', map_identifier=topic_map.identifier, topic_identifier=session['current_scope']) }}">{{
                            session['current_scope']|topic_name(topic_map.identifier) }}</a>
                        {% if scope_filtered %}
                        <span class="badge text-bg-warning">Active</span>
                        {% else %}
                        <span class="badge text-bg-secondary">Not active</span>
                        {% endif %}
                    </li>
                    {% if current_user.is_authenticated and not is_map_owner %}
                    <li>
                        Collaboration mode: {% if collaboration_mode.name == "VIEW" %}
                        <span class="text-info"><strong>Can view</strong></span>
                        {% elif collaboration_mode.name == "COMMENT" %}
                        <span class="text-secondary"><strong>Can comment</strong></span>
                        {% elif collaboration_mode.name == "EDIT" %}
                        <span class="text-warning"><strong>Can edit</strong></span>
                        {% else %}
                        <span class="text-secondary"><strong>None</strong></span>
                        {% endif %}
                    </li>
                    {% endif %}
                </ul>
            </div>
            {% if is_map_owner %}
            <div class="card-footer">
                <div class="btn-group">
                    <button class="btn btn-outline-secondary btn-sm dropdown-toggle" type="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Options
                    </button>

                    <ul class="dropdown-menu">
                        <li>
                            <a class="dropdown-item change-scope-link" href="#">Change scope</a>
                        </li>
                        <li>
                            <div class="dropdown-divider"></div>
                        </li>
                        {% if scope_filtered %}
                        <li>
                            <a class="dropdown-item"
                                href="{{ url_for('topic.view', map_identifier=topic_map.identifier, topic_identifier=topic.identifier, filter=0) }}">Disable
                                scope filtering</a>
                        </li>
                        <li><a class="dropdown-item disabled">Enable scope filtering</a></li>
                        {% else %}
                        <li><a class="dropdown-item disabled">Disable scope filtering</a></li>
                        <a class="dropdown-item"
                            href="{{ url_for('topic.view', map_identifier=topic_map.identifier, topic_identifier=topic.identifier, filter=1) }}">Enable
                            scope filtering</a>
                        {% endif %}
                    </ul>
                </div>
            </div>
            {% endif %}
        </div>
        <br />
        <!-- Topic resources -->
        {% if occurrences['images'] or occurrences['3d-scenes'] or occurrences['files'] or
        occurrences['links'] or occurrences['videos'] %}
        <div class="card contextualise-card">
            <div class="card-header">
                <strong>Topic resources</strong>
            </div>
            <div class="card-body">
                <ul>
                    {% if occurrences['images'] %}
                    <li>{% if is_map_owner %}
                        <a
                            href="{{ url_for('image.index', map_identifier=topic_map.identifier, topic_identifier=topic.identifier) }}">Images</a>
                        {% else %}
                        Images
                        {% endif %}
                        <ul>
                            {% for image in occurrences['images'] %}
                            <li>
                                <a data-caption="{{ image.title }}" data-fancybox="images"
                                    href="/static/resources/{{ topic_map.identifier }}/{{ image.url }}">{{
                                    image.title }}</a>
                            </li>
                            {% endfor %}
                        </ul>
                    </li>
                    {% endif %}
                    {% if occurrences['files'] %}
                    <li>{% if is_map_owner %}
                        <a
                            href="{{ url_for('file.index', map_identifier=topic_map.identifier, topic_identifier=topic.identifier) }}">Files</a>
                        {% else %}
                        Files
                        {% endif %}
                        <ul>
                            {% for file in occurrences['files'] %}
                            <li>
                                <a href="/static/resources/{{ topic_map.identifier }}/{{ file.url }}">{{
                                    file.title }}</a>
                            </li>
                            {% endfor %}
                        </ul>
                    </li>
                    {% endif %}
                    {% if occurrences['videos'] %}
                    <li>{% if is_map_owner %}
                        <a
                            href="{{ url_for('video.index', map_identifier=topic_map.identifier, topic_identifier=topic.identifier) }}">Videos</a>
                        {% else %}
                        Videos
                        {% endif %}
                        <ul>
                            {% for video in occurrences['videos'] %}
                            <li>
                                <a data-caption="{{ video.title }}" data-fancybox="gallery" href="{{ video.url }}">{{
                                    video.title }}</a>
                            </li>
                            {% endfor %}
                        </ul>
                    </li>
                    {% endif %}
                    {% if occurrences['links'] %}
                    <li>{% if is_map_owner %}
                        <a
                            href="{{ url_for('link.index', map_identifier=topic_map.identifier, topic_identifier=topic.identifier) }}">Links</a>
                        {% else %}
                        Links
                        {% endif %}
                        <ul>
                            {% for link in occurrences['links'] %}
                            <li>
                                <a href="{{ link.url }}" target="_blank">{{ link.title }}</a>
                            </li>
                            {% endfor %}
                        </ul>
                    </li>
                    {% endif %}
                    {% if occurrences['3d-scenes'] %}
                    <li>{% if is_map_owner %}
                        <a
                            href="{{ url_for('three_d.index', map_identifier=topic_map.identifier, topic_identifier=topic.identifier) }}">3D</a>
                        {% else %}
                        3D
                        {% endif %}
                        <ul>
                            {% for scene in occurrences['3d-scenes'] %}
                            <li><a data-fancybox
                                    data-src="{{ url_for('three_d.view', map_identifier=topic_map.identifier, topic_identifier=topic.identifier, file_url=scene.url) }}"
                                    data-type="iframe" href="javascript:">{{ scene.title }}</a>
                            </li>
                            {% endfor %}
                        </ul>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
        <br />
        {% endif %}
        <!-- Topic associations -->
        <div id="associations-component"
            hx-get="/api/get-associations/{{ topic_map.identifier }}/{{ topic.identifier }}/{{ session['current_scope'] }}/{{ scope_filtered }}"
            hx-swap="innerHTML" hx-trigger="newAssociations from:body">
        </div>
        <br />
    </div>
</div>
<!-- Go to topic modal dialog -->
<div aria-hidden="true" aria-labelledby="gotoModalLabel" class="modal fade" id="gotoModal" role="dialog" tabindex="-1">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="gotoTopicModalLabel">Go to topic</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form autocomplete="off">
                    <div class="mb-3">
                        <label class="form-label" for="goto-topic-identifier">Provide an existing topic
                            identifier</label>
                        <input aria-label="Enter topic identifier" class="form-control goto-typeahead"
                            id="goto-topic-identifier" placeholder="Enter identifier" type="text">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <button class="btn btn-primary" id="goto-button" type="button">Go to
                    topic
                </button>
            </div>
        </div>
    </div>
</div>
<!-- Create (generic) association modal dialog -->
<div aria-hidden="true" aria-labelledby="createAssociationModal" class="modal fade" id="createAssociationModal"
    role="dialog" tabindex="-1">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="createAssociationModalLabel">Create generic association</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Provide a destination topic reference and click on the "Create association" button to create
                    a <strong>generic</strong> association with the following characteristics:
                <ul>
                    <li>Type: <a
                            href="{{ url_for('topic.view', map_identifier=topic_map.identifier, topic_identifier='association') }}">Association</a>
                    </li>
                    <li>Source role: <a
                            href="{{ url_for('topic.view', map_identifier=topic_map.identifier, topic_identifier='related') }}">Related</a>
                    </li>
                    <li>Destination role: <a
                            href="{{ url_for('topic.view', map_identifier=topic_map.identifier, topic_identifier='related') }}">Related</a>
                    </li>
                    <li>Scope: <a
                            href="{{ url_for('topic.view', map_identifier=topic_map.identifier, topic_identifier=session['current_scope']) }}">{{
                            session['current_scope']|topic_name(topic_map.identifier) }}</a>
                    </li>
                </ul>
                </p>
                <form autocomplete="off">
                    <div class="mb-3">
                        <label for="association-dest-topic-ref" class="form-label">Destination topic</label>
                        <input class="form-control goto-typeahead" id="create-association-dest-topic-ref"
                            name="create-association-dest-topic-ref" placeholder="Enter destination topic identifier"
                            autocomplete="off" required type="text">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" id="create-association-modal-button">Create
                    association
                </button>
            </div>
        </div>
    </div>
</div>
<!-- Change scope modal dialog -->
<div aria-hidden="true" aria-labelledby="changeScopeModal" class="modal fade" id="changeScopeModal" role="dialog"
    tabindex="-1">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="changeScopeModalLabel">Change scope</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form
                action="{{ url_for('topic.change_scope', map_identifier=topic_map.identifier, topic_identifier=topic.identifier, scope_identifier=session['current_scope']) }}"
                autocomplete="off" method="post" role="form">
                <input name="_csrf_token" type="hidden" value="{{ csrf_token() }}">
                <div class="modal-body">
                    <p>Provide an existing topic identifer</p>

                    <div class="mb-3">
                        <label for="scope-identifier" class="form-label">New scope</label>
                        <input class="form-control goto-typeahead" id="scope-identifier" name="scope-identifier"
                            value="{{ session['current_scope'] }}" placeholder="Enter scope identifier"
                            autocomplete="off" required type="text">
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-primary" id="change-scope-modal-button">Change scope</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% if delete_topic_identifier %}
<!-- Delete topic modal dialog -->
<div aria-hidden="true" aria-labelledby="deleteModal" class="modal fade" id="deleteModal" role="dialog" tabindex="-1">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Delete topic</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form
                action="{{ url_for('topic.delete', map_identifier=topic_map.identifier, topic_identifier=delete_topic_identifier) }}"
                method="post" role="form">
                <input name="_csrf_token" type="hidden" value="{{ csrf_token() }}">
                <div class="modal-body">
                    <div class="alert alert-danger show" role="alert">Deleting a topic also
                        deletes all of its associations and resources. Once you delete a topic, there is no going back.
                    </div>
                    <div class="mb-3">
                        <label for="topic-name" class="form-label">Name</label>
                        <input aria-readonly="true" disabled class="form-control" id="topic-name" name="topic-name"
                            readonly type="text" value="{{ delete_topic_name }}">
                    </div>
                    <p><i class="bi bi-info-circle"></i> <a data-bs-toggle="collapse" href="#advancedOptions"
                            role="button" aria-expanded="false" aria-controls="collapseExample">
                            Advanced options</a>
                    </p>
                    <div class="collapse" id="advancedOptions">
                        <div class="card">
                            <div class="card-header">
                                Advanced options
                            </div>
                            <div class="card-body">
                                <div class="card-text">
                                    <div class="mb-3">
                                        <label for="topic-instance-of" class="form-label">Type</label>
                                        <input aria-readonly="true" disabled class="form-control" id="topic-instance-of"
                                            name="topic-instance-of" readonly type="text"
                                            value="{{ delete_topic_instance_of|topic_name(topic_map.identifier) }}">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-danger" id="delete-modal-button">Delete topic</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endif %}
{% if delete_note_identifier %}
<!-- Delete note modal dialog -->
<div aria-hidden="true" aria-labelledby="deleteModal" class="modal fade" id="deleteModal" role="dialog" tabindex="-1">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Delete note</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form
                action="{{ url_for('topic.delete_note', map_identifier=topic_map.identifier, topic_identifier=topic.identifier, note_identifier=delete_note_identifier) }}"
                method="post" role="form">
                <input name="_csrf_token" type="hidden" value="{{ csrf_token() }}">
                <div class="modal-body">
                    <div class="mb-3">
                        <label for="note-title" class="form-label">Title</label>
                        <input aria-readonly="true" disabled class="form-control" id="note-title" name="note-title"
                            readonly type="text" value="{{ delete_note_title }}">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Text</label>
                        <div class="text-secondary note-text">{{ delete_note_text|safe }}</div>
                    </div>
                    <p><i class="bi bi-info-circle"></i> <a data-bs-toggle="collapse" href="#advancedOptions"
                            role="button" aria-expanded="false" aria-controls="collapseExample">
                            Advanced options</a>
                    </p>
                    <div class="collapse" id="advancedOptions">
                        <div class="card">
                            <div class="card-header">
                                Advanced options
                            </div>
                            <div class="card-body">
                                <div class="card-text">
                                    <div class="mb-3">
                                        <label for="note-scope" class="form-label">Scope</label>
                                        <input aria-readonly="true" disabled class="form-control" id="note-scope"
                                            name="note-scope" readonly type="text" value="{{ delete_note_scope }}">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-danger" id="delete-modal-button">Delete note</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}