{% extends "layout.html" %}

{% block title %}
<title>{{ topic.first_base_name.name }} | {{ topic_map.name }}</title>
{% endblock %}

{% block javascript %}
<script src="https://cdn.jsdelivr.net/npm/masonry-layout@4.2.2/dist/masonry.pkgd.min.js"
    integrity="sha384-GNFwBvfVxBkLMJpYMOABq3c+d3KnQxudP/mGPkzpZSTYykLBNsZEnG2D9G/X/+7D" crossorigin="anonymous"
    async></script>
{% endblock %}

{% block maps_menu %}
<li class="nav-item"><a class="nav-link" href="{{ url_for('map.index') }}">My maps</a></li>
<li class="nav-item">
    {% if map_notes_count == 0 %}
    <a class="nav-link" href="{{ url_for('note.index', map_identifier=topic_map.identifier) }}">Notes</a>
    {% else %}
    <a class="nav-link" href="{{ url_for('note.index', map_identifier=topic_map.identifier) }}">Notes&nbsp;<span
            class="badge rounded-pill text-bg-danger">
            {{ map_notes_count }}
        </span>
    </a>
    {% endif %}
</li>
{% if topic.identifier != 'home' %}
<li class="nav-item">
    {% if session['current_scope'] == '*' %}
    <a class="nav-link" href="{{ url_for('topic.view', map_identifier=topic_map.identifier, topic_identifier='home') }}"
        role="button">Home</a>
    {% else %}
    <a class="nav-link"
        href="{{ url_for('topic.view', map_identifier=topic_map.identifier, topic_identifier='home', scope=session['current_scope']) }}"
        role="button">Home</a>
    {% endif %}
</li>
{% else %}
<li class="nav-item">
    <a class="nav-link disabled">Home</a>
</li>
{% endif %}
{% endblock %}

{% block maps_menu_not_authenticated %}
<li class="nav-item"><a class="nav-link" href="{{ url_for('map.published') }}">Published maps</a></li>
<li class="nav-item">
    {% if map_notes_count == 0 %}
    <a class="nav-link" href="{{ url_for('note.index', map_identifier=topic_map.identifier) }}">Notes</a>
    {% else %}
    <a class="nav-link" href="{{ url_for('note.index', map_identifier=topic_map.identifier) }}">Notes&nbsp;<span
            class="badge rounded-pill text-bg-danger">
            {{ map_notes_count }}
        </span>
    </a>
    {% endif %}
</li>
{% if topic.identifier != 'home' %}
<li class="nav-item">
    {% if session['current_scope'] == '*' %}
    <a class="nav-link" href="{{ url_for('topic.view', map_identifier=topic_map.identifier, topic_identifier='home') }}"
        role="button">Home</a>
    {% else %}
    <a class="nav-link"
        href="{{ url_for('topic.view', map_identifier=topic_map.identifier, topic_identifier='home', scope=session['current_scope']) }}"
        role="button">Home</a>
    {% endif %}
</li>
{% else %}
<li class="nav-item">
    <a class="nav-link disabled">Home</a>
</li>
{% endif %}
{% endblock %}

{% block content %}
{% endblock %}