{% extends "layout.html" %}

{% block title %}
<title>{{ topic.first_base_name.name }} &mdash; Associations | {{ topic_map.name }}</title>
{% endblock %}

{% block content %}
<h1>{{ topic.first_base_name.name }}</h1>
<p><em>{{ creation_date }}</em></p>
<ul class="nav nav-tabs">
	<li class="nav-item dropdown">
		<a aria-expanded="false" aria-haspopup="true" class="nav-link dropdown-toggle" data-toggle="dropdown"
		   href="#"
		   role="button">Topic</a>
		<div class="dropdown-menu">
			<a class="dropdown-item"
			   href="{{ url_for('topic.view', map_identifier=topic_map.identifier, topic_identifier=topic.identifier) }}">View</a>
			<div class="dropdown-divider"></div>
			{% if current_user.id == topic_map.user_identifier %}
			<a class="dropdown-item"
			   href="{{ url_for('topic.create', map_identifier=topic_map.identifier, topic_identifier=topic.identifier) }}">Create
				topic</a>
			<a class="dropdown-item"
			   href="{{ url_for('topic.edit', map_identifier=topic_map.identifier, topic_identifier=topic.identifier) }}">Edit
				topic</a>
			<div class="dropdown-divider"></div>
			{% endif %}
			<a class="dropdown-item" href="#">View names</a>
			{% if current_user.id == topic_map.user_identifier %}
			<div class="dropdown-divider"></div>
			<a class="dropdown-item"
			   href="{{ url_for('topic.add_note', map_identifier=topic_map.identifier, topic_identifier=topic.identifier) }}">Add
				note</a>
			<a class="dropdown-item" href="#">Add tag</a>
			{% endif %}
			<div class="dropdown-divider"></div>
			<a class="dropdown-item" href="#">View attributes</a>
		</div>
	</li>
	<li class="nav-item dropdown">
        <a aria-expanded="false" aria-haspopup="true" class="nav-link dropdown-toggle" data-toggle="dropdown" href="#"
           role="button">Images
            {% if occurrences_stats['image'] > 0 %}
            <span class="badge badge-primary">{{ occurrences_stats['image'] }}</span>
            {% endif %}
        </a>
        <div class="dropdown-menu">
            <a class="dropdown-item"
               href="{{ url_for('image.index', map_identifier=topic_map.identifier, topic_identifier=topic.identifier) }}">View</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item"
               href="{{ url_for('image.upload', map_identifier=topic_map.identifier, topic_identifier=topic.identifier) }}">Upload
                image</a>
        </div>
    </li>
	<li class="nav-item">
		<a class="nav-link" href="#">Files
			{% if occurrences_stats['file'] > 0 %}
			<span class="badge badge-primary">{{ occurrences_stats['file'] }}</span>
			{% endif %}
		</a>
	</li>
	<li class="nav-item dropdown">
		<a aria-expanded="false" aria-haspopup="true" class="nav-link dropdown-toggle" data-toggle="dropdown" href="#"
		   role="button">Links
			{% if occurrences_stats['url'] > 0 %}
			<span class="badge badge-primary">{{ occurrences_stats['url'] }}</span>
			{% endif %}
		</a>
		<div class="dropdown-menu">
			<a class="dropdown-item"
			   href="{{ url_for('link.index', map_identifier=topic_map.identifier, topic_identifier=topic.identifier) }}">View</a>
			<div class="dropdown-divider"></div>
			<a class="dropdown-item"
			   href="{{ url_for('link.add', map_identifier=topic_map.identifier, topic_identifier=topic.identifier) }}">Add
				link</a>
		</div>
	</li>
	<li class="nav-item dropdown">
		<a aria-expanded="false" aria-haspopup="true" class="nav-link dropdown-toggle" data-toggle="dropdown" href="#"
		   role="button">Videos
			{% if occurrences_stats['video'] > 0 %}
			<span class="badge badge-primary">{{ occurrences_stats['video'] }}</span>
			{% endif %}
		</a>
		<div class="dropdown-menu">
			<a class="dropdown-item"
			   href="{{ url_for('video.index', map_identifier=topic_map.identifier, topic_identifier=topic.identifier) }}">View</a>
			<div class="dropdown-divider"></div>
			<a class="dropdown-item"
			   href="{{ url_for('video.add', map_identifier=topic_map.identifier, topic_identifier=topic.identifier) }}">Add
				video</a>
		</div>
	</li>
	{% if current_user.id == topic_map.user_identifier %}
	<li class="nav-item dropdown">
		<a aria-expanded="false" aria-haspopup="true" class="nav-link dropdown-toggle active" data-toggle="dropdown"
		   href="#"
		   role="button">Associations</a>
		<div class="dropdown-menu">
			<a aria-disabled="true" class="dropdown-item disabled" href="#" tabindex="-1">View</a>
			<div class="dropdown-divider"></div>
			<a class="dropdown-item"
			   href="{{ url_for('association.create', map_identifier=topic_map.identifier, topic_identifier=topic.identifier) }}">Create
				association</a>
		</div>
	</li>
	{% endif %}
	<li class="nav-item dropdown">
		<a aria-expanded="false" aria-haspopup="true" class="nav-link dropdown-toggle" data-toggle="dropdown" href="#"
		   role="button">Visualisations</a>
		<div class="dropdown-menu">
			<a class="dropdown-item"
			   href="{{ url_for('visualisation.network', map_identifier=topic_map.identifier, topic_identifier=topic.identifier) }}">View
				network</a>
			<a class="dropdown-item" href="#">View tags</a>
		</div>
	</li>
</ul>
{% if associations %}

<table class="table table-bordered">
	<thead class="thead-light">
	<tr>
		<th scope="col">Type</th>
		<th scope="col">Scope</th>
		<th scope="col">Members</th>
		<th scope="col">Action</th>
	</tr>
	</thead>
	<tbody>
	{% for association in associations %}
	<tr>
		<td><a
			href="{{ url_for('topic.view', map_identifier=topic_map.identifier, topic_identifier=association.instance_of) }}">{{
			association.instance_of|topic_name(topic_map.identifier) }}</a></td>
		<td><a
			href="{{ url_for('topic.view', map_identifier=topic_map.identifier, topic_identifier=association.scope) }}">{{
			association.scope|topic_name(topic_map.identifier) }}</a></td>
		<td>
			<table class="table table-bordered table-sm">
				<thead class="thead-light">
				<tr>
					<th scope="col">Role</th>
					<th scope="col">Topic reference</th>
				</tr>
				</thead>
				<tbody>
				{% for member in association.members %}
				<tr>
					<td><a
						href="{{ url_for('topic.view', map_identifier=topic_map.identifier, topic_identifier=member.role_spec) }}">{{
						member.role_spec|topic_name(topic_map.identifier) }}</a></td>
					<td>
						{% for topic_ref in member.topic_refs %}
						<a
							href="{{ url_for('topic.view', map_identifier=topic_map.identifier, topic_identifier=topic_ref) }}">{{
							topic_ref|topic_name(topic_map.identifier) }}</a><br/>
						{% endfor %}
					</td>
				</tr>
				{% endfor %}
				</tbody>
			</table>
		</td>
		<td>
			<a class="card-link"
			   href="{{ url_for('association.delete', map_identifier=topic_map.identifier, topic_identifier=topic.identifier, association_identifier=association.identifier) }}">Delete</a>
		</td>
	</tr>
	{% endfor %}
	</tbody>
</table>
<br/>
{% else %}
<p>This topic does not play a role in any association. Click on the "Create assocation" button below to create an
	association.</p>
{% endif %}
<a class="btn btn-primary"
   href="{{ url_for('association.create', map_identifier=topic_map.identifier, topic_identifier=topic.identifier) }}">Create
	association</a>
<br/>
<br/>
{% endblock %}