{% extends "layout_1_column.html" %}

{% block title %}
<title>{{ topic.first_base_name.name }} &mdash; Associations | {{ topic_map.name }}</title>
{% endblock %}

{% block content %}
<h1>{{ topic.first_base_name.name }}</h1>
<p><em>{{ creation_date }}</em></p>
<ul class="nav nav-tabs">
    <li class="nav-item dropdown">
        <a aria-expanded="false" aria-haspopup="true" class="nav-link dropdown-toggle" data-toggle="dropdown"
           href="#"
           role="button">Topic</a>
        <div class="dropdown-menu">
            <a class="dropdown-item"
               href="{{ url_for('topic.view', map_identifier=topic_map.identifier, topic_identifier=topic.identifier) }}">View</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item"
               href="{{ url_for('topic.create', map_identifier=topic_map.identifier, topic_identifier=topic.identifier) }}">Create
                topic</a>
            <a class="dropdown-item"
               href="{{ url_for('topic.edit', map_identifier=topic_map.identifier, topic_identifier=topic.identifier) }}">Edit
                topic</a>
            <a class="dropdown-item"
               href="#">Delete topic</a>
            {% if 'admin' in current_user.roles %}
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">View names</a>
            {% endif %}
            <div class="dropdown-divider"></div>
            <a class="dropdown-item"
               href="{{ url_for('topic.add_note', map_identifier=topic_map.identifier, topic_identifier=topic.identifier) }}">Add
                note</a>
            <a class="dropdown-item" href="#">Add tag</a>
            {% if 'admin' in current_user.roles %}
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">View attributes</a>
            {% endif %}
        </div>
    </li>
    <li class="nav-item dropdown">
        <a aria-expanded="false" aria-haspopup="true" class="nav-link dropdown-toggle" data-toggle="dropdown"
           href="#"
           role="button">Images</a>
        <div class="dropdown-menu">
            <a class="dropdown-item"
               href="{{ url_for('image.index', map_identifier=topic_map.identifier, topic_identifier=topic.identifier) }}">View</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item"
               href="{{ url_for('image.upload', map_identifier=topic_map.identifier, topic_identifier=topic.identifier) }}">Upload
                image</a>
        </div>
    </li>
    <li class="nav-item dropdown">
        <a aria-expanded="false" aria-haspopup="true" class="nav-link dropdown-toggle" data-toggle="dropdown" href="#"
           role="button">Files</a>
        <div class="dropdown-menu">
            <a class="dropdown-item"
               href="{{ url_for('file.index', map_identifier=topic_map.identifier, topic_identifier=topic.identifier) }}">View</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item"
               href="{{ url_for('file.upload', map_identifier=topic_map.identifier, topic_identifier=topic.identifier) }}">Upload
                file</a>
        </div>
    </li>
    <li class="nav-item dropdown">
        <a aria-expanded="false" aria-haspopup="true" class="nav-link dropdown-toggle" data-toggle="dropdown" href="#"
           role="button">Links</a>
        <div class="dropdown-menu">
            <a class="dropdown-item"
               href="{{ url_for('link.index', map_identifier=topic_map.identifier, topic_identifier=topic.identifier) }}">View</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item"
               href="{{ url_for('link.add', map_identifier=topic_map.identifier, topic_identifier=topic.identifier) }}">Add
                link</a>
        </div>
    </li>
    <li class="nav-item dropdown">
        <a aria-expanded="false" aria-haspopup="true" class="nav-link dropdown-toggle" data-toggle="dropdown" href="#"
           role="button">Videos</a>
        <div class="dropdown-menu">
            <a class="dropdown-item"
               href="{{ url_for('video.index', map_identifier=topic_map.identifier, topic_identifier=topic.identifier) }}">View</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item"
               href="{{ url_for('video.add', map_identifier=topic_map.identifier, topic_identifier=topic.identifier) }}">Add
                video</a>
        </div>
    </li>
    <li class="nav-item dropdown">
        <a aria-expanded="false" aria-haspopup="true" class="nav-link dropdown-toggle active" data-toggle="dropdown" href="#"
           role="button">Associations</a>
        <div class="dropdown-menu">
            <a aria-disabled="true" class="dropdown-item disabled" href="#" tabindex="-1">View</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item"
               href="{{ url_for('association.create', map_identifier=topic_map.identifier, topic_identifier=topic.identifier) }}">Create
                association</a>
        </div>
    </li>
</ul>
{% if associations %}
<table class="table table-bordered">
    <thead class="thead-light">
    <tr>
        <th scope="col">Type</th>
        <th scope="col">Context</th>
        <th scope="col">Members</th>
        <th scope="col">Action</th>
    </tr>
    </thead>
    <tbody>
    {% for association in associations %}
    <tr>
        <td>
            <a href="{{ url_for('topic.view', map_identifier=topic_map.identifier, topic_identifier=association.instance_of) }}">{{
                association.instance_of|topic_name(topic_map.identifier) }}</a></td>
        <td>
            <a href="{{ url_for('topic.view', map_identifier=topic_map.identifier, topic_identifier=association.scope) }}">{{
                association.scope|topic_name(topic_map.identifier) }}</a></td>
        <td>
            <table class="table table-bordered table-sm">
                <thead class="thead-light">
                <tr>
                    <th scope="col">Role</th>
                    <th scope="col">Topic reference</th>
                </tr>
                </thead>
                <tbody>
                {% for member in association.members %}
                <tr>
                    <td>
                        <a href="{{ url_for('topic.view', map_identifier=topic_map.identifier, topic_identifier=member.role_spec) }}">{{
                            member.role_spec|topic_name(topic_map.identifier) }}</a></td>
                    <td>
                        {% for topic_ref in member.topic_refs %}
                        <a href="{{ url_for('topic.view', map_identifier=topic_map.identifier, topic_identifier=topic_ref) }}">{{
                            topic_ref|topic_name(topic_map.identifier) }}</a><br/>
                        {% endfor %}
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </td>
        <td>
            <a class="card-link"
               href="{{ url_for('association.delete', map_identifier=topic_map.identifier, topic_identifier=topic.identifier, association_identifier=association.identifier) }}">Delete</a>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% else %}
<p>This topic does not play a role in any association. Click on the "Create association" button below to create an
    association.</p>
{% endif %}
<a class="btn btn-primary"
   href="{{ url_for('association.create', map_identifier=topic_map.identifier, topic_identifier=topic.identifier) }}">Create
    association</a>
<br/>
<br/>
{% endblock %}