{% extends "layout_1_column.html" %}

{% block title %}
<title>{{ topic.identifier|topic_name(topic_map.identifier) }} | {{ topic_map.name }}</title>
{% endblock %}

{% block javascript %}{% endblock %}

{% block content %}
<h1>
    {{ topic.identifier|topic_name(topic_map.identifier) }}
    <small class="text-muted">View member</small>
</h1>
<hr/>
<div class="form-group">
    <div class="form-group">
        <label for="association-instance-of"><strong>Role</strong></label>
        <input aria-readonly="true" class="form-control" id="association-instance-of" name="association-instance-of"
               readonly type="text"
               value="{{ member.role_spec|topic_name(topic_map.identifier) }}">
    </div>
    <label><strong>Topic references</strong></label>
    <table class="table table-bordered table-sm">
        <thead class="thead-light">
        <tr>
            <th scope="col">Reference</th>
            <th scope="col">Action</th>
        </tr>
        </thead>
        <tbody>
        {% for topic_ref in member.topic_refs %}
        <tr>
            <td>
                <a href="{{ url_for('topic.view', map_identifier=topic_map.identifier, topic_identifier=topic_ref) }}">{{
                    topic_ref|topic_name(topic_map.identifier) }}</a>
            </td>
            <td>
                {% if member.topic_refs|length > 1 %}<a href="{{ url_for('association.delete_reference',
                    map_identifier=topic_map.identifier,
                    topic_identifier=topic.identifier,
                    association_identifier=association.identifier,
                    member_identifier=member.identifier,
                    reference_identifier=topic_ref) }}">Delete</a>{% else %}Not applicable{% endif %}
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
<a class="btn btn-secondary"
   href="{{ url_for('association.view', map_identifier=topic_map.identifier, topic_identifier=topic.identifier, association_identifier=association.identifier) }}"
   role="button">Return</a>
<a class="btn btn-primary"
   href="{{ url_for('association.add_reference', map_identifier=topic_map.identifier, topic_identifier=topic.identifier, association_identifier=association.identifier, member_identifier=member.identifier) }}"
   role="button">Add topic reference</a>
<br/>
<br/>
{% endblock %}