{% extends "security/layout.html" %}

{% from "security/_macros.html" import render_field_with_errors, render_field %}

{% block content %}
<form action="{{ url_for_security('reset_password', token=reset_password_token) }}" class="form-signin" method="POST"
    name="reset_password_form">
    {{ reset_password_form.hidden_tag() }}
    <input name="_csrf_token" type="hidden" value="{{ csrf_token() }}">
    <h1 class="h3 mb-3 font-weight-normal">Reset Password</h1>
    <label class="sr-only" for="password">Password</label>
    <input autofocus class="form-control" id="password" name="password" placeholder="Password" required autofocus
        type="password">
    <label class="sr-only" for="password_confirm">Confirm password</label>
    <input class="form-control" id="password_confirm" name="password_confirm" placeholder="Retype password"
        type="password">
    <button class="btn btn-lg btn-primary btn-block" id="submit" name="submit" type="submit">Reset password</button>
    {% include "security/_menu.html" %}
    <p class="mt-5 mb-3 text-muted"><a href="/">Contextualise</a> &mdash; Copyright &copy; 2019-2022 by Brett Kromkamp
    </p>
</form>
{% endblock %}