{% extends "layout_1_column.html" %}

{% block title %}
<title>{{ topic.first_base_name.name }} | {{ topic_map.name }}</title>
{% endblock %}

{% block javascript %}
{% if error %}
<script>
    $('#advancedOptions').collapse('show');

</script>
{% endif %}
{% endblock %}

{% block content %}
<h1>
    {{ topic.identifier|topic_name(topic_map.identifier) }}
    <small class="text-muted">Edit 3D scene</small>
</h1>
<hr />
<form
    action="{{ url_for('three_d.edit', map_identifier=topic_map.identifier, topic_identifier=topic.identifier, file_identifier=file_identifier) }}"
    autocomplete="off" method="post" role="form">
    <input name="_csrf_token" type="hidden" value="{{ csrf_token() }}">
    <div class="form-group">
        <label for="file-title">Title</label>
        <input class="form-control" id="file-title" name="file-title" placeholder="Enter title" required autofocus
            type="text" value="{{ file_title }}">
    </div>
    <p><i class="fas fa-info-circle"></i> <a aria-controls="advancedOptions" aria-expanded="false"
            data-toggle="collapse" href="#advancedOptions"> Advanced options</a></p>
    <div class="collapse" id="advancedOptions">
        <div class="card">
            <div class="card-header">
                Advanced options
            </div>
            <div class="card-body">
                <div class="card-text">
                    <div class="form-group">
                        <label for="file-scope">Scope
                            <small class="text-info">&mdash; If no value is provided the default will be
                                "<strong>{{ session["current_scope"] }}</strong>" (that is,
                                the current scope)
                            </small>
                        </label>
                        <input class="form-control typeahead" id="file-scope" name="file-scope"
                            placeholder="Enter scope identifier" type="text" value="{{ file_scope }}">
                        {% if error|bitwise_and(2) == 2 %}
                        <small class="text-danger">
                            A scope with this identifier doesn't exist. Please provide an identifier for an existing
                            scope.
                        </small>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <br />
    </div>
    <a class="btn btn-secondary"
        href="{{ url_for('three_d.index', map_identifier=topic_map.identifier, topic_identifier=topic.identifier) }}"
        role="button">Cancel</a>
    <button class="btn btn-primary" type="submit">Update 3D scene</button>
</form>
<br />
{% endblock %}