{% extends "layout.html" %}

{% block title %}
<title>{{ topic.first_base_name.name }} &mdash; Associations | {{ topic_map.name }}</title>
{% endblock %}

{% block header_menu %}
{% include "_header_menu.html" %}
{% endblock %}

{% block content %}
<!-- Tabs -->
<div class="row">
    <div class="col-md-12">
        <ul class="nav nav-tabs">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button"
                    aria-expanded="false">Topic</a>
                <ul class="dropdown-menu">
                    <li>
                        <a class="dropdown-item"
                            href="{{ url_for('topic.view', map_identifier=topic_map.identifier, topic_identifier=topic.identifier) }}">View</a>
                    </li>
                    <li>
                        <div class="dropdown-divider"></div>
                    </li>
                    <li>
                        <a class="dropdown-item"
                            href="{{ url_for('topic.create', map_identifier=topic_map.identifier, topic_identifier=topic.identifier) }}">Create
                            topic</a>
                    </li>
                    <li>
                        <a class="dropdown-item"
                            href="{{ url_for('topic.edit', map_identifier=topic_map.identifier, topic_identifier=topic.identifier) }}">Edit
                            topic</a>
                    </li>
                    <li>
                        <a class="dropdown-item"
                            href="{{ url_for('topic.edit_identifier', map_identifier=topic_map.identifier, topic_identifier=topic.identifier) }}">Edit
                            identifier</a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="#"
                            hx-get="/api/delete-topic/{{ topic_map.identifier }}/{{ topic.identifier }}"
                            hx-target="#modal-dialog-component" hx-trigger="click" data-bs-toggle="modal"
                            data-bs-target="#modal-dialog-component">Delete topic</a>
                    </li>
                    <li>
                        <div class="dropdown-divider"></div>
                    </li>
                    <li>
                        <a class="dropdown-item"
                            href="{{ url_for('topic.view_names', map_identifier=topic_map.identifier, topic_identifier=topic.identifier) }}">View
                            names</a>
                    </li>
                    <li>
                        <div class="dropdown-divider"></div>
                    </li>
                    <li>
                        <a class="dropdown-item"
                            href="{{ url_for('topic.add_note', map_identifier=topic_map.identifier, topic_identifier=topic.identifier) }}">Add
                            note</a>
                    </li>
                    <li>
                        <a class="dropdown-item"
                            href="{{ url_for('tag.add', map_identifier=topic_map.identifier, topic_identifier=topic.identifier) }}">Add
                            tags</a>
                    </li>
                    {% if 'admin' in current_user.roles %}
                    <li>
                        <div class="dropdown-divider"></div>
                    </li>
                    <li>
                        <a class="dropdown-item"
                            href="{{ url_for('attribute.index', map_identifier=topic_map.identifier, topic_identifier=topic.identifier) }}">View
                            attributes</a>
                    </li>
                    {% endif %}
                </ul>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button"
                    aria-expanded="false">Resources</a>
                <ul class="dropdown-menu">
                    <li>
                        <a class="dropdown-item"
                            href="{{ url_for('image.index', map_identifier=topic_map.identifier, topic_identifier=topic.identifier) }}">View</a>
                    </li>
                    <li>
                        <div class="dropdown-divider"></div>
                    </li>
                    <li>
                        <a class="dropdown-item"
                            href="{{ url_for('image.upload', map_identifier=topic_map.identifier, topic_identifier=topic.identifier) }}">Upload
                            image</a>
                    </li>
                    <li>
                        <a class="dropdown-item"
                            href="{{ url_for('file.upload', map_identifier=topic_map.identifier, topic_identifier=topic.identifier) }}">Upload
                            file</a>
                    </li>
                    <li>
                        <a class="dropdown-item"
                            href="{{ url_for('video.add', map_identifier=topic_map.identifier, topic_identifier=topic.identifier) }}">Add
                            video</a>
                    </li>
                    <li>
                        <a class="dropdown-item"
                            href="{{ url_for('link.add', map_identifier=topic_map.identifier, topic_identifier=topic.identifier) }}">Add
                            link</a>
                    </li>
                    <li>
                        <a class="dropdown-item"
                            href="{{ url_for('three_d.upload', map_identifier=topic_map.identifier, topic_identifier=topic.identifier) }}">Upload
                            3D scene</a>
                    </li>
                </ul>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle active" data-bs-toggle="dropdown" href="#" role="button"
                    aria-expanded="false">Associations</a>
                <ul class="dropdown-menu">
                    <li><a aria-disabled="true" class="dropdown-item disabled" href="#" tabindex="-1">View</a></li>
                    <li>
                        <div class="dropdown-divider"></div>
                    </li>
                    <li>
                        <a class="dropdown-item"
                            href="{{ url_for('association.create', map_identifier=topic_map.identifier, topic_identifier=topic.identifier) }}">Create
                            association</a>
                    </li>
                    <li><a class="dropdown-item disabled" href="#">Create generic association</a></li>
                </ul>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button"
                    aria-expanded="false">Visualisations</a>
                <ul class="dropdown-menu">
                    <li>
                        <a class="dropdown-item"
                            href="{{ url_for('visualisation.network', map_identifier=topic_map.identifier, topic_identifier=topic.identifier) }}">View
                            network graph</a>
                    </li>
                    <li>
                        <a class="dropdown-item"
                            href="{{ url_for('visualisation.tags_cloud', map_identifier=topic_map.identifier, topic_identifier=topic.identifier) }}">View
                            tags cloud</a>
                    </li>
                    <li><a class="dropdown-item disabled" href="#">View timeline</a></li>
                    <li><a class="dropdown-item disabled" href="#">View geographic map</a></li>
                </ul>
            </li>
        </ul>
    </div>
</div>
<div class="row mt-4">
    <div class="col-md-12">
        <h1>
            {{ topic.first_base_name.name }}&nbsp;&middot;&nbsp;<small class="text-muted">Associations</small>
        </h1>
        <p><em>{{ creation_date }}</em></p>
        <hr />
    </div>
</div>
{% if associations %}
<div class="row">
    <div class="col-md-12">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col">Type</th>
                    <th scope="col">Scope</th>
                    <th scope="col">Member</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                {% for association in associations %}
                <tr>
                    <td class="align-middle">
                        <a
                            href="{{ url_for('topic.view', map_identifier=topic_map.identifier, topic_identifier=association.instance_of) }}">{{
                            association.instance_of|topic_name(topic_map.identifier) }}</a>
                    </td>
                    <td class="align-middle">
                        <a
                            href="{{ url_for('topic.view', map_identifier=topic_map.identifier, topic_identifier=association.scope) }}">{{
                            association.scope|topic_name(topic_map.identifier) }}</a>
                    </td>
                    <td>
                        <table class="table table-bordered table-sm">
                            <thead>
                                <tr>
                                    <th scope="col">Topic reference&nbsp;&middot;&nbsp;Role</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <a
                                            href="{{ url_for('topic.view', map_identifier=topic_map.identifier, topic_identifier=association.member.src_topic_ref) }}">{{
                                            association.member.src_topic_ref|topic_name(topic_map.identifier)
                                            }}</a>&nbsp;&middot;&nbsp;<a
                                            href="{{ url_for('topic.view', map_identifier=topic_map.identifier, topic_identifier=association.member.src_role_spec) }}">{{
                                            association.member.src_role_spec|topic_name(topic_map.identifier)
                                            }}</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a
                                            href="{{ url_for('topic.view', map_identifier=topic_map.identifier, topic_identifier=association.member.dest_topic_ref) }}">{{
                                            association.member.dest_topic_ref|topic_name(topic_map.identifier)
                                            }}</a>&nbsp;&middot;&nbsp;<a
                                            href="{{ url_for('topic.view', map_identifier=topic_map.identifier, topic_identifier=association.member.dest_role_spec) }}">{{
                                            association.member.dest_role_spec|topic_name(topic_map.identifier)
                                            }}</a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                    <td class="align-middle">
                        <a
                            href="{{ url_for('association.view', map_identifier=topic_map.identifier, topic_identifier=topic.identifier, association_identifier=association.identifier) }}">View
                            as association</a><br />
                        <a
                            href="{{ url_for('topic.view', map_identifier=topic_map.identifier, topic_identifier=association.identifier) }}">View
                            as topic</a><br />
                        <a href="#"
                            hx-get="/api/delete-association/{{ topic_map.identifier }}/{{ topic.identifier }}/{{ association.identifier }}"
                            hx-target="#modal-dialog-component" hx-trigger="click" data-bs-toggle="modal"
                            data-bs-target="#modal-dialog-component">Delete</a>
                        {% if 'admin' in current_user.roles %}<br /><a
                            href="{{ url_for('attribute.entity_index', map_identifier=topic_map.identifier, topic_identifier=topic.identifier, entity_identifier=association.identifier, entity_type='association') }}">View
                            attributes</a>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% else %}
<div class="row">
    <div class="col-md-12">
        <p class="alert alert-info" role="alert">
            This topic does not play a role in any association. Click on the "Create association" button below to create
            an association.
        </p>
        {% endif %}
        <a class="btn btn-primary"
            href="{{ url_for('association.create', map_identifier=topic_map.identifier, topic_identifier=topic.identifier) }}">Create
            association</a>
        <br />
        <br />
    </div>
</div>
{% endblock %}