{% extends "layout.html" %}

{% block title %}
<title>{{ topic.first_base_name.name }} | {{ topic_map.name }}</title>
{% endblock %}

{% block header_menu %}
{% include "_header_menu.html" %}
{% endblock %}

{% block javascript %}{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <h1>
            {{ topic.identifier|topic_name(topic_map.identifier) }}&nbsp;&middot;&nbsp;<small class="text-muted">View
                association</small>
        </h1>
        <hr />

        <div class="mb-3">
            <label for="association-instance-of" class="form-label">Type</label>
            <input aria-readonly="true" disabled class="form-control" id="association-instance-of"
                name="association-instance-of" readonly type="text"
                value="{{ association.instance_of|topic_name(topic_map.identifier) }}">
        </div>
        <div class="mb-3">
            <label for="association-scope" class="form-label">Scope</label>
            <input aria-readonly="true" disabled class="form-control" id="association-scope" name="association-scope"
                readonly type="text" value="{{ association.scope|topic_name(topic_map.identifier) }}">
        </div>
        <label class="form-label">Member</label>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col">Topic reference&nbsp;&mdash;&nbsp;Role</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <a
                            href="{{ url_for('topic.view', map_identifier=topic_map.identifier, topic_identifier=association.member.src_topic_ref) }}">{{
                            association.member.src_topic_ref|topic_name(topic_map.identifier)
                            }}</a>&nbsp;&mdash;&nbsp;<a
                            href="{{ url_for('topic.view', map_identifier=topic_map.identifier, topic_identifier=association.member.src_role_spec) }}">{{
                            association.member.src_role_spec|topic_name(topic_map.identifier) }}</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a
                            href="{{ url_for('topic.view', map_identifier=topic_map.identifier, topic_identifier=association.member.dest_topic_ref) }}">{{
                            association.member.dest_topic_ref|topic_name(topic_map.identifier)
                            }}</a>&nbsp;&mdash;&nbsp;<a
                            href="{{ url_for('topic.view', map_identifier=topic_map.identifier, topic_identifier=association.member.dest_role_spec) }}">{{
                            association.member.dest_role_spec|topic_name(topic_map.identifier) }}</a>
                    </td>
                </tr>
            </tbody>
        </table>
        <p><i class="bi bi-info-circle"></i> <a data-bs-toggle="collapse" href="#advancedOptions" role="button"
                aria-expanded="false" aria-controls="collapseExample">
                Advanced options</a>
        <div class="collapse" id="advancedOptions">
            <div class="card">
                <div class="card-header">
                    Advanced options
                </div>
                <div class="card-body">
                    <div class="card-text">
                        <div class="mb-3">
                            <label for="association-name" class="form-label">Name</label>
                            <input aria-readonly="true" disabled class="form-control" id="association-name"
                                name="association-name" readonly type="text"
                                value="{{ association.first_base_name.name }}">
                        </div>
                        <div class="mb-3">
                            <label for="association-identifier" class="form-label">Identifier</label>
                            <input aria-readonly="true" disabled class="form-control" id="association-identifier"
                                name="association-identifier" readonly type="text" value="{{ association.identifier }}">
                        </div>
                    </div>
                </div>
            </div>
            <br />
        </div>
        <a class="btn btn-secondary"
            href="{{ url_for('association.index', map_identifier=topic_map.identifier, topic_identifier=topic.identifier) }}"
            role="button">Return</a>
        <br />
    </div>
</div>
{% endblock %}