body {
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

pre {
    font-family: 'JetBrains Mono', monospace;
    font-size: 92.5%;
}