html,
body {
    height: 100%;
}

.form-authentication {
    max-width: 380px;
    padding: 1rem;
}

.form-authentication .form-floating:focus-within {
    z-index: 2;
}

.form-login input[id="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-login input[id="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.form-register input[id="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-register input[id="password"] {
    border-radius: 0;
    margin-bottom: -1px;
}

.form-register input[id="password_confirm"] {
    margin-bottom: 20px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.form-forgot-password input[id="email"] {
    margin-bottom: 20px;
}