body {
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

pre {
    font-family: 'JetBrains Mono', monospace;
    font-size: 92.5%;
}

#network-graph {
    border: 1px solid lightgray;
    background: white;
    border-radius: .25rem;
}

.breadcrumb {
    padding: .75rem 1rem;
    margin-bottom: 1rem;
    list-style: none;
    background-color: #f8f8f8;
    border-radius: .25rem;
}

.note-text {
    padding: .75rem 1rem;
    margin-bottom: 1rem;
    list-style: none;
    background-color: #e9ecef;
    border-radius: .25rem;
}