{% extends "layout.html" %}

{% block title %}
<title>Attach note | {{ topic_map.name }}</title>
{% endblock %}

{% block header_menu %}
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <h1>
            {{ topic_map.name }}&nbsp;&middot;&nbsp;<small class="text-muted">Attach note</small>
        </h1>
        <hr />
        <form
            action="{{ url_for('note.attach', map_identifier=topic_map.identifier, note_identifier=note_identifier) }}"
            autocomplete="off" method="post" role="form">
            <input name="_csrf_token" type="hidden" value="{{ csrf_token() }}">
            <div class="mb-3">
                <label for="note-topic-identifier" class="form-label">Topic</label>
                <input class="form-control typeahead" id="note-topic-identifier" name="note-topic-identifier"
                    placeholder="Enter topic identifier" required autofocus type="text">
                {% if error|bitwise_and(1) == 1 %}
                <small class="text-danger">
                    A topic with this identifier doesn't exist. Provide an identifier for an existing topic.
                </small>
                {% endif %}
            </div>
            <div class="mb-3">
                <label for="note-title" class="form-label">Title</label>
                <input aria-readonly="true" disabled class="form-control" id="note-title" name="note-title" readonly
                    type="text" value="{{ note_title }}">
            </div>
            <div class="mb-3">
                <label class="form-label">Text</label>
                <div class="text-secondary">{{ note_text|safe }}</div>
            </div>
            <p><a data-bs-toggle="collapse" href="#advancedOptions" role="button" aria-expanded="false"
                    aria-controls="collapseExample">
                    Toggle options</a>
            </p>
            <div class="collapse" id="advancedOptions">
                <div class="card">
                    <div class="card-header">
                        <p class="mb-0"><strong><i class="bi bi-gear"></i>&nbsp;Options</strong></p>
                    </div>
                    <div class="card-body">
                        <div class="card-text">
                            <div class="mb-3">
                                <label for="note-scope" class="form-label">Scope</label>
                                <input aria-readonly="true" class="form-control" id="note-scope" name="note-scope"
                                    readonly disabled type="text" value="{{ note_scope }}">
                            </div>
                        </div>
                    </div>
                </div>
                <br />
            </div>
            <a class="btn btn-secondary" href="{{ url_for('note.index', map_identifier=topic_map.identifier) }}"
                role="button">Cancel</a>
            <button class="btn btn-success" type="submit">Attach note</button>
        </form>
        <br />
    </div>
</div>
{% endblock %}