{% extends "layout.html" %}

{% block title %}
<title>Convert note | {{ topic_map.name }}</title>
{% endblock %}

{% block header_menu %}
{% endblock %}

{% block stylesheets %}
<link href="https://cdn.jsdelivr.net/npm/easymde@2.18.0/dist/easymde.min.css" rel="stylesheet">
{% endblock %}

{% block javascript %}
<script src="https://cdn.jsdelivr.net/npm/easymde@2.18.0/dist/easymde.min.js"></script>

<script>
    var editor = new EasyMDE({ element: document.getElementById("topic-text") });

    document.getElementById("topic-name").addEventListener("blur", (event) => {
        var topicName = document.getElementById("topic-name").value;
        if (topicName !== "") {
            axios
                .get("/api/get-slug?value=" + topicName)
                .then(function (response) {
                    // Handle success
                    document.getElementById("topic-identifier").value = response.data.slug;
                })
                .catch(function (error) {
                    // Handle error
                    console.log(error);
                })
                .then(function () {
                    // Always executed
                });
        }
    });

    var topicIdentifierInput = document.getElementById("topic-identifier");

    document
        .getElementById("edit-identifier-button")
        .addEventListener("click", (event) => {
            if (topicIdentifierInput.readOnly) {
                topicIdentifierInput.readOnly = false;
                topicIdentifierInput.focus();
                document.getElementById("edit-identifier-button").innerHTML = "Ok";
            } else {
                topicIdentifierInput.readOnly = true;
                document.getElementById("edit-identifier-button").focus();
                document.getElementById("edit-identifier-button").innerHTML = "Edit";
            }
        });
</script>

{% if error %}
<script>
    $('#advancedOptions').collapse('show');
</script>
{% endif %}
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <h1>
            {{ topic_map.name }}&nbsp;&middot;&nbsp;<small class="text-muted">Convert note</small>
        </h1>
        <hr />
        <form
            action="{{ url_for('note.convert', map_identifier=topic_map.identifier, note_identifier=note_identifier) }}"
            autocomplete="off" method="post" role="form">
            <input name="_csrf_token" type="hidden" value="{{ csrf_token() }}">
            <div class="mb-3">
                <label for="topic-name" class="form-label">Name</label>
                <input class="form-control" id="topic-name" name="topic-name" placeholder="Enter name" required
                    autofocus type="text" value="{{ topic_name }}">
            </div>
            <div class="mb-3">
                <label for="topic-identifier" class="form-label">Identifier</label>
                <div class="input-group">
                    <input class="form-control" id="topic-identifier" name="topic-identifier"
                        placeholder="Enter identifier" readonly required type="text"
                        value="{{ topic_identifier or '' }}">
                    <span class="input-group-text">
                        <button class="btn btn-light btn-sm" id="edit-identifier-button" type="button">
                            Edit
                        </button>
                    </span>
                </div>
                {% if error|bitwise_and(2) == 2 %}
                <small class="text-danger">
                    A topic with this identifier already exists. Provide a different topic identifier.
                </small>
                {% endif %}
            </div>
            <div class="mb-3">
                <label for="topic-text" class="form-label">Text</label>
                <textarea class="form-control" id="topic-text" name="topic-text" rows="8">{{ topic_text }}</textarea>
            </div>
            <p><a data-bs-toggle="collapse" href="#advancedOptions" role="button" aria-expanded="false"
                    aria-controls="collapseExample">
                    Toggle options</a>
            </p>
            <div class="collapse" id="advancedOptions">
                <div class="card">
                    <div class="card-header">
                        <p class="mb-0"><strong><i class="bi bi-gear text-secondary"></i>&nbsp;Options</strong></p>
                    </div>
                    <div class="card-body">
                        <div class="card-text">
                            <div class="mb-3">
                                <label for="topic-instance-of" class="form-label">Type
                                    <small class="text-info">&mdash; If no value is provided the default will be
                                        "topic"</small>
                                </label>
                                <input class="form-control typeahead" id="topic-instance-of" name="topic-instance-of"
                                    placeholder="Enter type identifier" type="text"
                                    value="{{ topic_instance_of or '' }}">
                                {% if error|bitwise_and(8) == 8 %}
                                <small class="text-danger">
                                    A type with this identifier doesn't exist. Provide an identifier for an
                                    existing type.
                                </small>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                <br />
            </div>
            <a class="btn btn-secondary" href="{{ url_for('note.index', map_identifier=topic_map.identifier) }}"
                role="button">Cancel</a>
            <button class="btn btn-success" type="submit">Convert note</button>
        </form>
        <br />
    </div>
</div>
{% endblock %}