{% extends "layout.html" %}

{% block title %}
<title>Notes | {{ topic_map.name }}</title>
{% endblock %}

{% block stylesheets %}
<link href="{{ url_for('static', filename='default.css', version='1.0') }}" rel="stylesheet">
{% endblock %}

{% block javascript %}
<script src="https://cdn.jsdelivr.net/npm/masonry-layout@4.2.2/dist/masonry.pkgd.min.js"
    integrity="sha384-GNFwBvfVxBkLMJpYMOABq3c+d3KnQxudP/mGPkzpZSTYykLBNsZEnG2D9G/X/+7D" crossorigin="anonymous"
    async></script>
{% endblock %}

{% block header_menu %}
<li class="nav-item"><a class="nav-link" href="{{ url_for('map.index') }}">My maps</a></li>
<li class="nav-item"><a class="nav-link"
        href="{{ url_for('topic.view', map_identifier=topic_map.identifier, topic_identifier='home') }}">Home</a>
</li>
{% endblock %}

{% block header_menu_not_authenticated %}
<li class="nav-item"><a class="nav-link" href="{{ url_for('map.public') }}">Public maps</a></li>
<li class="nav-item"><a class="nav-link"
        href="{{ url_for('topic.view', map_identifier=topic_map.identifier, topic_identifier='home') }}">Home</a>
</li>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col">
        <h1>
            {{ topic_map.name }}&nbsp;&middot;&nbsp;<small class="text-muted">Notes</small>
        </h1>
        <br />
    </div>
</div>
{% if notes %}
<div class="row row-cols-1 row-cols-md-2" data-masonry='{"percentPosition": true }'>
    {% for note in notes %}
    <div class="col mb-4">
        <div class="card border-warning">
            <div class="card-header">
                <small class="text-muted">{{ note.timestamp }}</small>
            </div>
            <div class="card-body text-secondary">
                <h5 class="card-title">{{ note.title }}</h5>
                <p class="card-text">{{ note.text|safe }}</p>
            </div>
            {% if current_user.id == topic_map.user_identifier %}
            <div class="card-footer">
                <div class="btn-group my-1">
                    <div class="btn-group" role="group">
                        <button class="btn btn-outline-secondary dropdown-toggle" type="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Options
                        </button>
                        <ul class="dropdown-menu">
                            <li>
                                <a class="dropdown-item"
                                    href="{{ url_for('note.edit', map_identifier=topic_map.identifier, note_identifier=note.identifier) }}">Edit
                                    note</a>
                            </li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li>
                                <a class="dropdown-item"
                                    href="{{ url_for('note.attach', map_identifier=topic_map.identifier, note_identifier=note.identifier) }}">Attach
                                    note to topic</a>
                            </li>
                            <li>
                                <a class="dropdown-item"
                                    href="{{ url_for('note.convert', map_identifier=topic_map.identifier, note_identifier=note.identifier) }}">Convert
                                    note to topic</a>
                            </li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li>
                                <a class="dropdown-item" href="#"
                                    hx-get="/api/delete-notes-note/{{ topic_map.identifier }}/{{ topic.identifier }}/{{ note.identifier }}"
                                    hx-target="#modal-dialog-component" hx-trigger="click" data-bs-toggle="modal"
                                    data-bs-target="#modal-dialog-component">Delete note</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
    {% endfor %}
</div>
{% else %}
<div class="row">
    <div class="col">
        <p class="alert alert-info" role="alert">
            This map has no notes. {% if current_user.id == topic_map.user_identifier
            %}Click on the "Add note" button below to create a note.{% endif %}
        </p>
        <br />
        <br />
        <p class="text-center">
            <img width="410" class="img-fluid" src="{{ url_for('static', filename='void.svg') }}" />
        </p>
    </div>
</div>
{% endif %}
{% if current_user.id == topic_map.user_identifier %}
<div class="row">
    <div class="col">
        <a class="btn btn-primary" href="{{ url_for('note.add', map_identifier=topic_map.identifier) }}">Add note</a>
        <br />
        <br />
    </div>
</div>
{% endif %}
{% endblock %}