{% extends "layout.html" %}

{% block title %}
<title>Notes | {{ topic_map.name }}</title>
{% endblock %}

{% block stylesheets %}
<link href="{{ url_for('static', filename='default.css', version='1.0') }}" rel="stylesheet">
{% endblock %}

{% block javascript %}
<script src="https://cdn.jsdelivr.net/npm/masonry-layout@4.2.2/dist/masonry.pkgd.min.js"
    integrity="sha384-GNFwBvfVxBkLMJpYMOABq3c+d3KnQxudP/mGPkzpZSTYykLBNsZEnG2D9G/X/+7D" crossorigin="anonymous"
    async></script>
{% endblock %}

{% block header_menu %}
<li class="nav-item"><a class="nav-link" href="{{ url_for('map.index') }}">My maps</a></li>
<li class="nav-item"><a class="nav-link"
        href="{{ url_for('topic.view', map_identifier=topic_map.identifier, topic_identifier='home') }}">Home</a>
</li>
{% endblock %}

{% block header_menu_not_authenticated %}
<li class="nav-item"><a class="nav-link" href="{{ url_for('map.published') }}">Published maps</a></li>
<li class="nav-item"><a class="nav-link"
        href="{{ url_for('topic.view', map_identifier=topic_map.identifier, topic_identifier='home') }}">Home</a>
</li>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col">
        <h1>
            {{ topic_map.name }}&nbsp;&middot;&nbsp;<small class="text-muted">Notes</small>
        </h1>
        <br />
    </div>
</div>
{% if notes %}
<div class="row row-cols-1 row-cols-md-2" data-masonry='{"percentPosition": true }'>
    {% for note in notes %}
    <div class="col mb-4">
        <div class="card border-warning">
            <div class="card-header">
                <small class="text-muted">{{ note.timestamp }}</small>
            </div>
            <div class="card-body text-secondary">
                <h5 class="card-title">{{ note.title }}</h5>
                <p class="card-text">{{ note.text|safe }}</p>
            </div>
            {% if current_user.id == topic_map.user_identifier %}
            <div class="card-footer">
                <div class="btn-group my-1">
                    <div class="btn-group" role="group">
                        <button class="btn btn-outline-secondary dropdown-toggle" type="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Options
                        </button>
                        <ul class="dropdown-menu">
                            <li>
                                <a class="dropdown-item"
                                    href="{{ url_for('note.edit', map_identifier=topic_map.identifier, note_identifier=note.identifier) }}">Edit
                                    note</a>
                            </li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li>
                                <a class="dropdown-item"
                                    href="{{ url_for('note.attach', map_identifier=topic_map.identifier, note_identifier=note.identifier) }}">Attach
                                    note to topic</a>
                            </li>
                            <li>
                                <a class="dropdown-item"
                                    href="{{ url_for('note.convert', map_identifier=topic_map.identifier, note_identifier=note.identifier) }}">Convert
                                    note to topic</a>
                            </li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li>
                                <!--
                                <a class="dropdown-item"
                                    href="{{ url_for('note.delete', map_identifier=topic_map.identifier, note_identifier=note.identifier) }}">Delete
                                    note</a>
                                -->
                                <a class="dropdown-item"
                                    href="{{ url_for('note.index', map_identifier=topic_map.identifier, entitydelete=note.identifier) }}">Delete
                                    note</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
    {% endfor %}
</div>
{% else %}
<div class="row">
    <div class="col">
        <p class="alert alert-info" role="alert">
            This map has no notes. {% if current_user.id == topic_map.user_identifier
            %}Click on the "Add note" button below to create a note.{% endif %}
        </p>
        <br />
        <br />
        <p class="text-center">
            <img width="410" class="img-fluid" src="{{ url_for('static', filename='void.svg') }}" />
        </p>
    </div>
</div>
{% endif %}
{% if current_user.id == topic_map.user_identifier %}
<div class="row">
    <div class="col">
        <a class="btn btn-primary" href="{{ url_for('note.add', map_identifier=topic_map.identifier) }}">Add note</a>
        <br />
        <br />
    </div>
</div>
{% endif %}
{% if delete_note_identifier %}
<!-- Delete note modal dialog -->
<div aria-hidden="true" aria-labelledby="deleteModal" class="modal fade" id="deleteModal" role="dialog" tabindex="-1">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Delete note</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form
                action="{{ url_for('note.delete', map_identifier=topic_map.identifier, note_identifier=delete_note_identifier) }}"
                method="post" role="form">
                <input name="_csrf_token" type="hidden" value="{{ csrf_token() }}">
                <div class="modal-body">
                    <div class="mb-3">
                        <label for="note-title" class="form-label">Title</label>
                        <input aria-readonly="true" disabled class="form-control" id="note-title" name="note-title"
                            readonly type="text" value="{{ delete_note_title }}">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Text</label>
                        <div class="text-secondary note-text">{{ delete_note_text|safe }}</div>
                    </div>
                    <p><i class="bi bi-info-circle"></i> <a data-bs-toggle="collapse" href="#advancedOptions"
                            role="button" aria-expanded="false" aria-controls="collapseExample">
                            Advanced options</a>
                    </p>
                    <div class="collapse" id="advancedOptions">
                        <div class="card">
                            <div class="card-header">
                                Advanced options
                            </div>
                            <div class="card-body">
                                <div class="card-text">
                                    <div class="mb-3">
                                        <label for="note-scope" class="form-label">Scope</label>
                                        <input aria-readonly="true" disabled class="form-control" id="note-scope"
                                            name="note-scope" readonly type="text" value="{{ delete_note_scope }}">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-danger" id="delete-modal-button">Delete note</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}