{% extends "layout.html" %}

{% block title %}
<title>{{ topic.identifier|topic_name(topic_map.identifier) }} | {{ topic_map.name }}</title>
{% endblock %}

{% block header_menu %}
{% include "_header_menu.html" %}
{% endblock %}

{% block stylesheets %}
<link href="{{ url_for('static', filename='amsify.suggestags.css', version='1.1') }}" rel="stylesheet">
{% endblock %}

{% block javascript %}
<script src="{{ url_for('static', filename='jquery.amsify.suggestags.js') }}"></script>
<script src="https://cdn.jsdelivr.net/npm/axios@1.7.2/dist/axios.min.js"></script>
<script>
    var urlParts = window.location.pathname.split("/");
    var mapIdentifier = urlParts[3];
    var getIdentifiersApiUrl = "/api/get-tags/" + mapIdentifier;

    $('input[name="topic-tags"]').amsifySuggestags({
        suggestionsAction: {
            url: getIdentifiersApiUrl
        }
    });
</script>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <h1>
            {{ topic.first_base_name.name }}&nbsp;&middot;&nbsp;<small class="text-muted">Add tags</small>
        </h1>
        <hr />
        <form action="{{ url_for('tag.add', map_identifier=topic_map.identifier, topic_identifier=topic.identifier) }}"
            autocomplete="off" method="post" role="form">
            <input name="_csrf_token" type="hidden" value="{{ csrf_token() }}">
            <div class="mb-3">
                <label for="topic-tags" class="form-label">Tags
                    <small class="text-info">&mdash; Multiple tags are comma-separated.</small>
                </label>
                <input class="form-control" id="topic-tags" name="topic-tags" placeholder="Enter tags" required
                    autofocus type="text">
            </div>
            <a class="btn btn-secondary"
                href="{{ url_for('topic.view', map_identifier=topic_map.identifier, topic_identifier=topic.identifier) }}"
                role="button">Cancel</a>
            <button class="btn btn-success" type="submit">Add tags</button>
        </form>
        <br />
    </div>
</div>
{% endblock %}