{% extends "layout_maps.html" %}

{% block title %}
<title>My topic maps | Contextualise</title>
{% endblock %}

{% block maps_menu %}
<a class="nav-link" href="{{ url_for('map.published') }}">Published maps</a>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col">
        <h2>My maps</h2>
        <br/>
    </div>
</div>
{% if maps %}
<div class="row">
    <div class="col">
        <table class="table table-bordered table-hover">
            <thead class="thead-light">
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Access</th>
                <th scope="col">Description</th>
                <th scope="col">Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for map in maps %}
            <tr>
                <th class="align-middle" scope="row" style="min-width: 16em;"><a
                        href="{{ url_for('topic.view', map_identifier=map['identifier'], topic_identifier='home') }}">{{
                    map.name }}</a></th>
                <td class="align-middle">
                    {% if map.published %}
                    <span class="badge badge-pill badge-success">Published</span>
                    {% else %}
                    <span class="badge badge-pill badge-secondary">Private</span>
                    {% endif %}
                </td>
                <td>{{ map.description }}</td>
                <td style="min-width: 8em;" class="align-middle">
                    <a href="{{ url_for('map.edit', map_identifier=map['identifier']) }}">Edit</a>&nbsp;&nbsp;&middot;&nbsp;&nbsp;
                    <a href="{{ url_for('map.delete', map_identifier=map['identifier']) }}">Delete</a>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<div class="row">
    <div class="col">
        <br/>
        <a class="btn btn-primary"
           href="{{ url_for('map.create') }}">Create map</a>
        <br/>
        <br/>
    </div>
</div>
{% else %}
<div class="row">
    <div class="col">
        <p>No topic maps. Click on the "Create map" button below to create a topic map.</p>
        <a class="btn btn-primary" href="{{ url_for('map.create') }}">Create map</a>
    </div>
</div>
{% endif %}
{% endblock %}