{% extends "layout_1_column.html" %}

{% block title %}
<title>View map | Contextualise</title>
{% endblock %}

{% block javascript %}{% endblock %}

{% block menu %}
<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link active" href="#">Map</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ url_for('map.collaborators', map_identifier=topic_map.identifier) }}">Collaborators</a>
    </li>
</ul>
{% endblock %}

{% block content %}
<h1>
    {{ topic_map.name }}
    <small class="text-muted">View map</small>
</h1>
<hr/>

<a class="btn btn-secondary"
   href="{{ url_for('map.index', map_identifier=topic_map.identifier) }}"
   role="button">Return</a>
<a class="btn btn-primary"
   href="{{ url_for('map.edit', map_identifier=topic_map.identifier) }}">Edit map</a>
<br/>
<br/>
{% endblock %}