body {
    font-family: 'Nunito', sans-serif;
}

main > .container {
  padding: 30px 15px 0;
}

.footer {
  background-color: #f5f5f5;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

.nav-tabs {
  margin-bottom: 1rem;
}

.list-card ul {
    padding-left: 1em;
}

#network-graph {
    position: relative;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 460px;
}

.map-image {
    width: 100%;
    max-width: 320px;
}

#goto-topic-identifier {
    width: 20em;
}