{% if session['breadcrumbs'] and topic_map %}
<div class="row">
    <div class="col-md-12">
        <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='%236c757d'/%3E%3C/svg%3E&#34;);"
            aria-label="breadcrumb">
            <ol class="breadcrumb mb-4">
                <li class="breadcrumb-item"><strong>{{ topic_map.name }}</strong></li>
                {% for breadcrumb in session['breadcrumbs'] %}
                <li class="breadcrumb-item">
                    <a
                        href="{{ url_for('topic.view', map_identifier=topic_map.identifier, topic_identifier=breadcrumb) }}">{{
                        breadcrumb|topic_name(topic_map.identifier) }}</a>
                    {% if breadcrumb == 'home' %}<i class="bi bi-house-fill text-secondary"></i>
                    {% endif %}

                </li>
                {% endfor %}
            </ol>
        </nav>
    </div>
</div>
{% endif %}